
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myConceptoMovimientoLabel" translate="cxcApp.conceptoMovimiento.home.createOrEditLabel">Create or edit a ConceptoMovimiento</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="conceptoMovimiento.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.conceptoMovimiento.nombre" for="field_nombre">Nombre</label>
            <select class="form-control" name="nombre" ng-model="conceptoMovimiento.nombre" id="field_nombre">
               <option value="APARTADO_INICIAL" translate="cxcApp.ConceptoMovimientoType.APARTADO_INICIAL">APARTADO_INICIAL</option>
               <option value="PAGARE" translate="cxcApp.ConceptoMovimientoType.PAGARE">PAGARE</option>
               <option value="RENTA" translate="cxcApp.ConceptoMovimientoType.RENTA">RENTA</option>
               <option value="PAGO" translate="cxcApp.ConceptoMovimientoType.PAGO">PAGO</option>
               <option value="INTERES" translate="cxcApp.ConceptoMovimientoType.INTERES">INTERES</option>
            </select>

        </div>
        <div class="form-group">
            <label translate="cxcApp.conceptoMovimiento.tipoMovimiento" for="field_tipoMovimiento">TipoMovimiento</label>
            <select class="form-control" name="tipoMovimiento" ng-model="conceptoMovimiento.tipoMovimiento" id="field_tipoMovimiento">
               <option value="CARGO" translate="cxcApp.TipoMovimientoType.CARGO">CARGO</option>
               <option value="ABONO" translate="cxcApp.TipoMovimientoType.ABONO">ABONO</option>
            </select>

        </div>

        <div class="form-group">
            <label translate="cxcApp.conceptoMovimiento.movimiento" for="field_movimiento">movimiento</label>
            <select class="form-control" id="field_movimiento" name="movimiento" ng-model="conceptoMovimiento.movimiento.id" ng-options="movimiento.id as movimiento.id for movimiento in movimientos">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
