
<div>
    <h2><span translate="cxcApp.conceptoMovimiento.detail.title">ConceptoMovimiento</span> {{conceptoMovimiento.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="cxcApp.conceptoMovimiento.nombre">Nombre</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly" translate="cxcApp.ConceptoMovimientoType.SELECT"
                          translate-interpolation="messageformat" translate-values="{ VALUE: conceptoMovimiento.nombre }"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.conceptoMovimiento.tipoMovimiento">TipoMovimiento</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly" translate="cxcApp.TipoMovimientoType.SELECT"
                          translate-interpolation="messageformat" translate-values="{ VALUE: conceptoMovimiento.tipoMovimiento }"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.conceptoMovimiento.movimiento">movimiento</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{conceptoMovimiento.movimientoId}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="conceptoMovimiento"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
