
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDocumentoLabel" translate="cxcApp.documento.home.createOrEditLabel">Create or edit a Documento</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="documento.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.documento.numeroDocumento" for="field_numeroDocumento">NumeroDocumento</label>
            <input type="text" class="form-control" name="numeroDocumento" id="field_numeroDocumento"
                    ng-model="documento.numeroDocumento"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.documento.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="documento.descripcion"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.documento.tipoDocumento" for="field_tipoDocumento">TipoDocumento</label>
            <select class="form-control" name="tipoDocumento" ng-model="documento.tipoDocumento" id="field_tipoDocumento">
               <option value="ENGANCHE" translate="cxcApp.TipoDocumentoType.ENGANCHE">ENGANCHE</option>
               <option value="ESCRITURA" translate="cxcApp.TipoDocumentoType.ESCRITURA">ESCRITURA</option>
               <option value="PAGARE_SIMPLE" translate="cxcApp.TipoDocumentoType.PAGARE_SIMPLE">PAGARE_SIMPLE</option>
               <option value="CONTRATO_RENTA" translate="cxcApp.TipoDocumentoType.CONTRATO_RENTA">CONTRATO_RENTA</option>
            </select>

        </div>
        <div class="form-group">
            <label translate="cxcApp.documento.attribute1" for="field_attribute1">Attribute1</label>
            <input type="text" class="form-control" name="attribute1" id="field_attribute1"
                    ng-model="documento.attribute1"
                    >

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
