
<div>
    <h2><span translate="cxcApp.documento.detail.title">Documento</span> {{documento.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="cxcApp.documento.numeroDocumento">NumeroDocumento</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{documento.numeroDocumento}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.documento.descripcion">Descripcion</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{documento.descripcion}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.documento.tipoDocumento">TipoDocumento</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly" translate="cxcApp.TipoDocumentoType.SELECT"
                          translate-interpolation="messageformat" translate-values="{ VALUE: documento.tipoDocumento }"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.documento.attribute1">Attribute1</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{documento.attribute1}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="documento"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
