<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 translate="main.title">Welcome, Java Hipster!</h1>
            <p class="lead" translate="main.subtitle">This is your homepage</p>

            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "{{account.login}}".
                </div>
                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                    If you want to <a href="#/login">authenticate</a>
                </div>


                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                    You don't have an account yet? <a href="#/register">Register a new account</a>
                </div>
            </div>


        </div>
    </div>
</div>
