
<div>
    <h2><span translate="cxcApp.destinoPago.detail.title">DestinoPago</span> {{destinoPago.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="cxcApp.destinoPago.nombre">Nombre</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{destinoPago.nombre}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="destinoPago"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
