
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCxcSecuenciaLabel" translate="cxcApp.cxcSecuencia.home.createOrEditLabel">Create or edit a CxcSecuencia</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="cxcSecuencia.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.cxcSecuencia.nombre" for="field_nombre">Nombre</label>
            <select class="form-control" name="nombre" ng-model="cxcSecuencia.nombre" id="field_nombre" required>

               <option value="PAGO_REFERENCIADO" translate="cxcApp.SecuenciaType.PAGO_REFERENCIADO">PAGO_REFERENCIADO</option>
               <option value="MOVIMIENTO_ABONO" translate="cxcApp.SecuenciaType.MOVIMIENTO_ABONO">MOVIMIENTO_ABONO</option>
               <option value=" MOVIMIENTO_CARGO" translate="cxcApp.SecuenciaType. MOVIMIENTO_CARGO"> MOVIMIENTO_CARGO</option>
               <option value="CLIENTE_EMPRESARIAL" translate="cxcApp.SecuenciaType.CLIENTE_EMPRESARIAL">CLIENTE_EMPRESARIAL</option>
               <option value="CLIENTE_INSTITUCIONAL" translate="cxcApp.SecuenciaType.CLIENTE_INSTITUCIONAL">CLIENTE_INSTITUCIONAL</option>
               <option value="CUENTA_ENGANCHE" translate="cxcApp.SecuenciaType.CUENTA_ENGANCHE">CUENTA_ENGANCHE</option>
               <option value="CUENTA_ESCRITURA" translate="cxcApp.SecuenciaType.CUENTA_ESCRITURA">CUENTA_ESCRITURA</option>
               <option value="CUENTA_PAGARE_SIMPLE" translate="cxcApp.SecuenciaType.CUENTA_PAGARE_SIMPLE">CUENTA_PAGARE_SIMPLE</option>
               <option value="CUENTA_RENTA" translate="cxcApp.SecuenciaType.CUENTA_RENTA">CUENTA_RENTA</option>
            </select>

            <div ng-show="editForm.nombre.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.cxcSecuencia.secuencia" for="field_secuencia">Secuencia</label>
            <input type="number" class="form-control" name="secuencia" id="field_secuencia"
                    ng-model="cxcSecuencia.secuencia"
                    required min="0">

            <div ng-show="editForm.secuencia.$invalid">
                <p class="help-block"
                    ng-show="editForm.secuencia.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.secuencia.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.secuencia.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
