
<div>
    <h2><span translate="cxcApp.cxcSecuencia.detail.title">CxcSecuencia</span> {{cxcSecuencia.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="cxcApp.cxcSecuencia.nombre">Nombre</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly" translate="cxcApp.SecuenciaType.SELECT"
                          translate-interpolation="messageformat" translate-values="{ VALUE: cxcSecuencia.nombre }"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cxcSecuencia.secuencia">Secuencia</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cxcSecuencia.secuencia}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="cxcSecuencia"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
