
<div>
    <h2><span translate="cxcApp.cliente.detail.title">Cliente</span> {{cliente.secuenciaCliente}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.plaza">plaza</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.plazaNombre}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.nombres">Nombres</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.nombres}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.apellidoPaterno">ApellidoPaterno</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.apellidoPaterno}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.apellidoMaterno">ApellidoMaterno</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.apellidoMaterno}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.rfc">Rfc</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.rfc}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.curp">Curp</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.curp}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.sexo">Sexo</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly" translate="cxcApp.SexoType.SELECT"
                          translate-interpolation="messageformat" translate-values="{ VALUE: cliente.sexo }"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.nss">Nss</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.nss}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.correo">Correo</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.correo}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.telefono1">Telefono1</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.telefono1}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.telefono2">Telefono2</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.telefono2}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.celular">Celular</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.celular}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.fechaNacimiento">FechaNacimiento</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.fechaNacimiento}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.numeroRefExterna">NumeroRefExterna</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.numeroRefExterna}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.sistemaOrigen">SistemaOrigen</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly" translate="cxcApp.SistemaOrigenType.SELECT"
                          translate-interpolation="messageformat" translate-values="{ VALUE: cliente.sistemaOrigen }"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.tipoCliente">TipoCliente</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly" translate="cxcApp.TipoClienteType.SELECT"
                          translate-interpolation="messageformat" translate-values="{ VALUE: cliente.tipoCliente }"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.calle">Calle</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.calle}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.numero">Numero</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.numero}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.codigoPostal">CodigoPostal</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.codigoPostal}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.colonia">Colonia</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.colonia}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.ciudad">Ciudad</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.ciudad}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.estado">Estado</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.estado}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.municipio">Municipio</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.municipio}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cliente.geoLocalizacion">GeoLocalizacion</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cliente.geoLocalizacion}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                        <span translate="cxcApp.cliente.created">CreatedBy</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cliente.created}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cliente.createdByName">CreatedByName</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cliente.createdByName}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cliente.createdDate">CreatedDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cliente.createdDate}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cliente.updated">LastModifiedBy</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cliente.updated}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cliente.lastModifiedByName">LastModifiedByName</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cliente.lastModifiedByName}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cliente.lastModifiedDate">LastModifiedDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cliente.lastModifiedDate}}" readonly>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="cliente"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
