
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myClienteLabel" translate="cxcApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control"  name="secuenciaCliente"
                   ng-model="cliente.secuenciaCliente" readonly>
            <input type="hidden" class="form-control" id="id" name="id"
                    ng-model="cliente.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.cliente.nombres" for="field_nombres">Nombres</label>
            <input type="text" class="form-control" name="nombres" id="field_nombres"
                    ng-model="cliente.nombres" required>

            <div ng-show="editForm.nombres.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombres.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.apellidoPaterno" for="field_apellidoPaterno">ApellidoPaterno</label>
            <input type="text" class="form-control" name="apellidoPaterno" id="field_apellidoPaterno"
                    ng-model="cliente.apellidoPaterno" required>

            <div ng-show="editForm.apellidoPaterno.$invalid">
                <p class="help-block"
                    ng-show="editForm.apellidoPaterno.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.apellidoMaterno" for="field_apellidoMaterno">ApellidoMaterno</label>
            <input type="text" class="form-control" name="apellidoMaterno" id="field_apellidoMaterno"
                    ng-model="cliente.apellidoMaterno">

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.rfc" for="field_rfc">Rfc</label>
            <input type="text" class="form-control" name="rfc" id="field_rfc"
                    ng-model="cliente.rfc" required ng-minlength="10" ng-maxlength="13">

            <div ng-show="editForm.rfc.$invalid">
                <p class="help-block"
                    ng-show="editForm.rfc.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.rfc.$error.minlength" translate="entity.validation.minlength" translate-value-min="10">
                    This field is required to be at least 10 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.rfc.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="13">
                    This field cannot be longer than 13 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.curp" for="field_curp">Curp</label>
            <input type="text" class="form-control" name="curp" id="field_curp"
                    ng-model="cliente.curp" ng-minlength="18" ng-maxlength="18">

            <div ng-show="editForm.curp.$invalid">
                <p class="help-block"
                    ng-show="editForm.curp.$error.minlength" translate="entity.validation.minlength" translate-value-min="18">
                    This field is required to be at least 18 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.curp.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="18">
                    This field cannot be longer than 18 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.sexo" for="field_sexo">Sexo</label>
            <select class="form-control" name="sexo" ng-model="cliente.sexo" id="field_sexo" required>
               <option value="HOMBRE" translate="cxcApp.SexoType.HOMBRE">HOMBRE</option>
               <option value="MUJER" translate="cxcApp.SexoType.MUJER">MUJER</option>
            </select>
            <div ng-show="editForm.sexo.$invalid">
                <p class="help-block"
                   ng-show="editForm.sexo.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.nss" for="field_nss">Nss</label>
            <input type="text" class="form-control" name="nss" id="field_nss"
                    ng-model="cliente.nss"
                    ng-minlength="11" ng-maxlength="11">

            <div ng-show="editForm.nss.$invalid">
                <p class="help-block"
                    ng-show="editForm.nss.$error.minlength" translate="entity.validation.minlength" translate-value-min="11">
                    This field is required to be at least 11 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.nss.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="11">
                    This field cannot be longer than 11 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.correo" for="field_correo">Correo</label>
            <input type="text" class="form-control" name="correo" id="field_correo"
                    ng-model="cliente.correo"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.telefono1" for="field_telefono1">Telefono1</label>
            <input type="text" class="form-control" name="telefono1" id="field_telefono1"
                    ng-model="cliente.telefono1"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.telefono2" for="field_telefono2">Telefono2</label>
            <input type="text" class="form-control" name="telefono2" id="field_telefono2"
                    ng-model="cliente.telefono2"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.celular" for="field_celular">Celular</label>
            <input type="text" class="form-control" name="celular" id="field_celular"
                    ng-model="cliente.celular"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.fechaNacimiento" for="field_fechaNacimiento">FechaNacimiento</label>
            <input type="date" class="form-control" name="fechaNacimiento" id="field_fechaNacimiento"
                    ng-model="cliente.fechaNacimiento"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.numeroRefExterna" for="field_numeroRefExterna">NumeroRefExterna</label>
            <input type="text" class="form-control" name="numeroRefExterna" id="field_numeroRefExterna"
                    ng-model="cliente.numeroRefExterna"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.sistemaOrigen" for="field_sistemaOrigen">SistemaOrigen</label>
            <select class="form-control" name="sistemaOrigen" ng-model="cliente.sistemaOrigen" id="field_sistemaOrigen" required>
               <option value="SVU2" translate="cxcApp.SistemaOrigenType.SVU2">SVU2</option>
               <option value="SCU_MIGRACION" translate="cxcApp.SistemaOrigenType.SCU_MIGRACION">SCU_MIGRACION</option>
               <option value="SVU2_MIGRACION" translate="cxcApp.SistemaOrigenType.SVU2_MIGRACION">SVU2_MIGRACION</option>
            </select>
            <div ng-show="editForm.sistemaOrigen.$invalid">
                <p class="help-block"
                   ng-show="editForm.sistemaOrigen.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.tipoCliente" for="field_tipoCliente">TipoCliente</label>
            <select class="form-control" name="tipoCliente" ng-model="cliente.tipoCliente" id="field_tipoCliente" required>
               <option value="CLIENTE" translate="cxcApp.TipoClienteType.CLIENTE">CLIENTE</option>
               <option value="EMPRESARIAL" translate="cxcApp.TipoClienteType.EMPRESARIAL">EMPRESARIAL</option>
               <option value="INSTITUCIONAL" translate="cxcApp.TipoClienteType.INSTITUCIONAL">INSTITUCIONAL</option>
            </select>
            <div ng-show="editForm.tipoCliente.$invalid">
                <p class="help-block"
                   ng-show="editForm.tipoCliente.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.calle" for="field_calle">Calle</label>
            <input type="text" class="form-control" name="calle" id="field_calle"
                    ng-model="cliente.calle"
                    required>

            <div ng-show="editForm.calle.$invalid">
                <p class="help-block"
                    ng-show="editForm.calle.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.numero" for="field_numero">Numero</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                    ng-model="cliente.numero"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.codigoPostal" for="field_codigoPostal">CodigoPostal</label>
            <input type="text" class="form-control" name="codigoPostal" id="field_codigoPostal"
                    ng-model="cliente.codigoPostal"
                    required ng-minlength="5" ng-maxlength="5" ng-pattern="/^[0-9]*$/">

            <div ng-show="editForm.codigoPostal.$invalid">
                <p class="help-block"
                    ng-show="editForm.codigoPostal.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.codigoPostal.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.codigoPostal.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="5">
                    This field cannot be longer than 5 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.codigoPostal.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[0-9]*$">
                    This field should follow pattern "^[0-9]*$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.colonia" for="field_colonia">Colonia</label>
            <input type="text" class="form-control" name="colonia" id="field_colonia"
                    ng-model="cliente.colonia"
                    required>

            <div ng-show="editForm.colonia.$invalid">
                <p class="help-block"
                    ng-show="editForm.colonia.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.ciudad" for="field_ciudad">Ciudad</label>
            <input type="text" class="form-control" name="ciudad" id="field_ciudad"
                    ng-model="cliente.ciudad"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.cliente.estado" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                    ng-model="cliente.estado"
                    required>

            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
            <!--TODO: url y como cargar el nombre del municipio  es mejor utilizar servicios google pero como permitir la salida-->

                <div class="form-group">
                    <label translate="cxcApp.cliente.municipio" for="field_municipio">Estado</label>
                    <input type="hidden" class="form-control" name="municipio" id="field_municipio"
                           ng-model="cliente.municipio" required>


                    <div angucomplete-alt id="cliente.municipioNombre"
                         name="cliente.municipioNombre" placeholder="Municipios" pause="500"
                         selected-object="municipioSelected"
                         remote-url="http://127.0.0.1:8080/api/_search/municipios/"
                         remote-url-request-formatter="remoteUrlRequestFn" remote-url-data-field="" title-field="nombre"
                         description-field="" minlength="2" input-class="form-control form-control-small"
                         match-class="highlight" initial-value="initialMunicipioSelected" >
                    </div>
                    <div ng-show="editForm.municipio.$invalid">
                        <p class="help-block"
                           ng-show="editForm.municipio.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

        <div class="form-group">
            <label translate="cxcApp.cliente.geoLocalizacion" for="field_geoLocalizacion">GeoLocalizacion</label>
            <input type="text" class="form-control" name="geoLocalizacion" id="field_geoLocalizacion"
                    ng-model="cliente.geoLocalizacion">

        </div>


        <div class="form-group">
            <label translate="cxcApp.cliente.plaza" for="field_plaza">plaza</label>
            <select required class="form-control" id="field_plaza" name="plaza" ng-model="cliente.plazaId" ng-options="plaza.id as plaza.nombre for plaza in plazas">
            </select>
            <div ng-show="editForm.plaza.$invalid">
                <p class="help-block"
                   ng-show="editForm.plaza.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        </div>

    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
