
<div>
    <h2><span translate="cxcApp.nota.detail.title">Nota</span> {{nota.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="cxcApp.nota.titulo">Titulo</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{nota.titulo}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.nota.descripcion">Descripcion</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{nota.descripcion}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.nota.fechaCreacion">FechaCreacion</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{nota.fechaCreacion}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="nota"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
