
<div>
    <h2><span translate="cxcApp.empresa.detail.title">Empresa</span> {{empresa.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="cxcApp.empresa.nombre">Nombre</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{empresa.nombre}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.empresa.rfc">Rfc</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{empresa.rfc}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.empresa.telefono">Telefono</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{empresa.telefono}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.empresa.correo">Correo</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{empresa.correo}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.empresa.direccion">Direccion</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{empresa.direccion}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.empresa.codigoPostal">CodigoPostal</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{empresa.codigoPostal}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.empresa.ciudad">Ciudad</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{empresa.ciudad}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.empresa.municipio">Municipio</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{empresa.municipio}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.empresa.estado">Estado</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{empresa.estado}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="empresa"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
