
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEmpresaLabel" translate="cxcApp.empresa.home.createOrEditLabel">Create or edit a Empresa</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="empresa.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.empresa.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="empresa.nombre"
                    required>

            <div ng-show="editForm.nombre.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.empresa.rfc" for="field_rfc">Rfc</label>
            <input type="text" class="form-control" name="rfc" id="field_rfc"
                    ng-model="empresa.rfc"
                    required>

            <div ng-show="editForm.rfc.$invalid">
                <p class="help-block"
                    ng-show="editForm.rfc.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.empresa.telefono" for="field_telefono">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="field_telefono"
                    ng-model="empresa.telefono"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.empresa.correo" for="field_correo">Correo</label>
            <input type="text" class="form-control" name="correo" id="field_correo"
                    ng-model="empresa.correo"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.empresa.direccion" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                    ng-model="empresa.direccion"
                    required>

            <div ng-show="editForm.direccion.$invalid">
                <p class="help-block"
                    ng-show="editForm.direccion.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.empresa.codigoPostal" for="field_codigoPostal">CodigoPostal</label>
            <input type="text" class="form-control" name="codigoPostal" id="field_codigoPostal"
                    ng-model="empresa.codigoPostal"
                    required ng-minlength="5" ng-maxlength="5" ng-pattern="/^[0-9]*$/">

            <div ng-show="editForm.codigoPostal.$invalid">
                <p class="help-block"
                    ng-show="editForm.codigoPostal.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.codigoPostal.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.codigoPostal.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="5">
                    This field cannot be longer than 5 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.codigoPostal.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[0-9]*$">
                    This field should follow pattern "^[0-9]*$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.empresa.ciudad" for="field_ciudad">Ciudad</label>
            <input type="text" class="form-control" name="ciudad" id="field_ciudad"
                    ng-model="empresa.ciudad"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.empresa.municipio" for="field_municipio">Municipio</label>
            <input type="text" class="form-control" name="municipio" id="field_municipio"
                    ng-model="empresa.municipio"
                    required>

            <div ng-show="editForm.municipio.$invalid">
                <p class="help-block"
                    ng-show="editForm.municipio.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.empresa.estado" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                    ng-model="empresa.estado"
                    required>

            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
