<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCuentaLabel" translate="cxcApp.cuenta.home.createOrEditLabel">Create or edit a Cuenta</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="cuenta.id" readonly>
            <input type="hidden" class="form-control" name="isCuentaValida"
                   ng-model="cuenta.isCuentaValid" >
        </div>
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <!--TODO:revisar la forma de aplicar las restricciones de una forma mas elegante -->
                    <label translate="cxcApp.cuenta.plazoMeses" for="field_plazoMeses">Plazo Meses</label>
                    <div ng-switch on="cuenta.tipoDocumento">
                        <input ng-switch-when="ENGANCHE" type="number" class="form-control" name="plazoMeses" id="field_plazoMeses"
                               ng-model="cuenta.plazoMeses" required readonly >
                        <input ng-switch-when="ESCRITURA" type="number" class="form-control" name="plazoMeses" id="field_plazoMeses"
                               ng-model="cuenta.plazoMeses" required readonly >
                        <input ng-switch-default type="number" class="form-control" name="plazoMeses" id="field_plazoMeses"
                               ng-model="cuenta.plazoMeses" required >
                    </div>

                    <div ng-show="editForm.plazoMeses.$invalid">
                        <p class="help-block"
                           ng-show="editForm.plazoMeses.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.plazoMeses.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.interesAnual" for="field_interesAnual">Interes Anual</label>
                    <input type="number" class="form-control" name="interesAnual" id="field_interesAnual"
                           ng-model="cuenta.interesAnual" required  ng-readonly="{{cuenta.tipoDocumento=='PAGARE_SIMPLE' ? false : true}}">

                    <div ng-show="editForm.interesAnual.$invalid">
                        <p class="help-block"
                           ng-show="editForm.interesAnual.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.interesAnual.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.saldo" for="field_saldo">Saldo</label>
                    <input type="number" class="form-control" name="saldo" id="field_saldo"
                           ng-model="cuenta.saldo" required readonly>

                    <div ng-show="editForm.saldo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.saldo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.saldo.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.tipoDocumento" for="field_tipoDocumento">TipoDocumento</label>
                    <select class="form-control" name="tipoDocumento" ng-model="cuenta.tipoDocumento" id="field_tipoDocumento">
                        <option ng-disabled="{{cuenta.tipoDocumento!='ENGANCHE'? true : false}}" value="ENGANCHE">ENGANCHE</option>
                        <option ng-disabled="{{cuenta.tipoDocumento!='ESCRITURA'? true : false}}" value="ESCRITURA">ESCRITURA</option>
                        <option ng-disabled="{{cuenta.tipoDocumento!='PAGARE_SIMPLE'? true : false}}" value="PAGARE_SIMPLE">PAGARE SIMPLE</option>
                        <option ng-disabled="{{cuenta.tipoDocumento!='RENTA'? true : false}}" value="RENTA">RENTA</option>
                    </select>

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.estatusCuenta" for="field_estatusCuenta">EstatusCuenta</label>
                    <select class="form-control" name="estatusCuenta" ng-model="cuenta.estatusCuenta" id="field_estatusCuenta">
                        <option  value="ACTIVADA">ACTIVADA</option>
                        <option  value="CANCELADA">CANCELADA</option>
                        <option  value="CONDONADA">CONDONADA</option>
                        <option  value="PAGADA">PAGADA</option>
                        <option  value="ACLARACION">ACLARACION</option>
                    </select>

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.numeroContratoOrigen" for="field_numeroContratoOrigen">NumeroContratoOrigen</label>
                    <input type="text" class="form-control" name="numeroContratoOrigen" id="field_numeroContratoOrigen"
                           ng-model="cuenta.numeroContratoOrigen">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-4">

                <div class="form-group">
                    <label translate="cxcApp.cuenta.cliente" for="field_cliente">cliente</label>

                    <input type="hidden" class="form-control" name="cliente" id="field_cliente"
                           ng-model="cuenta.clienteId" required>
                    <div angucomplete-alt id="cuenta.clienteNombre"
                         name="cuenta.clienteNombre" placeholder="Clientes" pause="500"
                         selected-object="clienteSelected"
                         remote-url="http://127.0.0.1:8080/api/_search/clientes/"
                         remote-url-request-formatter="remoteUrlRequestFn" remote-url-data-field="" title-field="autocompleteIdAndNombre"
                         description-field="autocompleteFormat"  minlength="2" input-class="form-control form-control-small"
                         match-class="highlight" initial-value="initialClienteSelected"
                        >
                    </div>
                    <div ng-show="editForm.cliente.$invalid">
                        <p class="help-block"
                           ng-show="editForm.cliente.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.plaza" for="field_plaza">plaza</label>
                    <select required  class="form-control" id="field_plaza" name="plaza" ng-model="cuenta.plazaId" ng-options="plaza.id as plaza.nombre for plaza in plazas">
                    </select>
                    <div ng-show="editForm.plaza.$invalid">
                        <p class="help-block"
                           ng-show="editForm.plaza.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.empresa" for="field_empresa">empresa</label>
                    <select required  class="form-control" id="field_empresa" name="empresa" ng-model="cuenta.empresaId" ng-options="empresa.id as empresa.nombre for empresa in empresas">
                    </select>
                    <div ng-show="editForm.empresa.$invalid">
                        <p class="help-block"
                           ng-show="editForm.empresa.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           ng-model="cuenta.descripcion">

                </div>
            </div>
        </div>
    </div>
        <div class="modal-header">
            <h4 class="modal-title" id="myMovimientoLabel" translate="cxcApp.cuenta.home.movimientosLabel">Agregar Movimientos</h4>
        </div>

        <div class="modal-body">



            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="form-group">
                        <label translate="cxcApp.cuenta.movimiento.numeroPagare" for="field_numeroPagare">NumeroPagare</label>
                        <input type="number" class="form-control" name="numeroPagare" id="field_numeroPagare"
                               ng-model="numeroPagare"  readonly>


                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label translate="cxcApp.cuenta.movimiento.conceptoMovimiento" for="field_conceptoMovimiento">ConceptoMovimiento</label>
                        <select class="form-control" name="conceptoMovimiento" ng-model="conceptoMovimiento" id="field_conceptoMovimiento">
                            <option value="CREDITO">CREDITO</option>
                            <option value="APARTADO_INICIAL">APARTADO_INICIAL</option>
                            <option value="ENGANCHE">ENGANCHE</option>

                        </select>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="form-group">
                        <label translate="cxcApp.cuenta.movimiento.monto" for="field_monto">Monto</label>
                        <input type="number" class="form-control" name="monto" id="field_monto"
                               ng-model="monto" >
                        <div ng-show="editForm.monto.$invalid">

                            <p class="help-block"
                               ng-show="editForm.monto.$error.number" translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>


                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label translate="cxcApp.cuenta.movimiento.fechaVencimiento" for="field_fechaVencimiento">FechaVencimiento</label>
                        <input type="date" class="form-control" name="fechaVencimiento" id="field_fechaVencimiento"
                               ng-model="fechaVencimiento" >


                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-1">
                    <div class="form-group">
                        <label  for="field_fechaVencimiento">&nbsp;</label>
                    <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="addMovimiento()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>

            </div>




        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th translate="cxcApp.cuenta.movimiento.numeroPagare">NumeroPagare</th>
                    <th translate="cxcApp.cuenta.movimiento.conceptoMovimiento">ConceptoMovimiento</th>
                    <th translate="cxcApp.cuenta.movimiento.monto">Monto</th>
                    <th translate="cxcApp.cuenta.movimiento.fechaVencimiento">FechaVencimiento</th>
                    <th translate="cxcApp.cuenta.movimiento.estatusMovimiento">EstatusMovimiento</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="movimiento in cuenta.movimientoDTOs">

                    <td>{{movimiento.numeroPagare}}</td>
                    <td>{{movimiento.conceptoMovimiento}}</td>
                    <td>$ {{movimiento.monto | currency: '' }}</td>
                    <td>{{movimiento.fechaVencimiento | date:'dd/MM/yyyy'}}</td>
                    <td>{{movimiento.estatusMovimiento}}</td>
                    <td>

                        <button type="submit"
                                ng-click="removeMovimiento(movimiento.numeroPagare)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info ">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;<span translate="entity.action.help">Ayuda</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>

