<div>

    <h2 translate="cxcApp.cuenta.home.title">Cuentas</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-flash"></span> <span translate="cxcApp.cuenta.home.createLabel">Create a new Cuenta</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="cuenta.enganche">ENGANCHE</a></li>
                        <li><a ui-sref="cuenta.escritura">ESCRITURA</a></li>
                        <li><a href="#">PAGARE SIMPLE</a></li>
                        <li><a href="#">RENTA</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Cuenta</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCuentaConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(cuenta.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cxcApp.cuenta.delete.question" translate-values="{id: '{{cuenta.id}}'}">Are you sure you want to delete this Cuenta?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="cxcApp.cuenta.createdDate">FechaCreacion</th>
                    <th translate="cxcApp.cuenta.saldo">Saldo</th>
                    <th translate="cxcApp.cuenta.montoExigible">MontoExigible</th>
                    <th translate="cxcApp.cuenta.saldoInicial">SaldoInicial</th>
                    <th translate="cxcApp.cuenta.tipoDocumento">TipoDocumento</th>
                    <th translate="cxcApp.cuenta.estatusCuenta">EstatusCuenta</th>
                    <th translate="cxcApp.cuenta.cliente">cliente</th>
                    <th translate="cxcApp.cuenta.plaza">plaza</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cuenta in cuentas| orderBy :'-secuenciaCuenta'">
                    <td><a ui-sref="cuenta.detail({id:cuenta.id})">{{cuenta.secuenciaCuenta}}</a></td>
                    <td>{{cuenta.createdDate | date:'dd/MM/yyyy'}}</td>
                    <td>{{cuenta.saldo | currency: ''}}</td>
                    <td>{{cuenta.montoExigible | currency: ''}} </td>
                    <td>{{cuenta.saldoInicial | currency: ''}}</td>
                    <td>{{cuenta.tipoDocumento}}</td>
                    <td>{{cuenta.estatusCuenta}}</td>
                    <td>{{cuenta.clienteNombre}}</td>
                    <td>{{cuenta.plazaNombre}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="cuenta.detail({id:cuenta.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="cuenta.edit({id:cuenta.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(cuenta.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
