<!--TODO: prevent exit from modal until save or cancel-->
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ui-sref="cuenta">&times;</button>
        <h4 class="modal-title" id="myCuentaLabel" translate="cxcApp.cuenta.home.createOrEditLabel">Create or edit a Cuenta</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">

            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="secuenciaCuenta"
                    ng-model="cuenta.secuenciaCuenta" readonly>
            <input type="hidden" class="form-control" name="id"
                   ng-model="cuenta.id" readonly>
            <input type="hidden" class="form-control" name="isCuentaValida"
                   ng-model="cuenta.isCuentaValid" >
        </div>
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <!--TODO:revisar la forma de aplicar las restricciones de una forma mas elegante -->
                    <label translate="cxcApp.cuenta.plazoMeses" for="field_plazoMeses">Plazo Meses</label>
                    <div ng-switch on="cuenta.tipoDocumento">
                        <input ng-switch-when="ENGANCHE" type="number" class="form-control" name="plazoMeses" id="field_plazoMeses"
                               ng-model="cuenta.plazoMeses" required readonly >
                        <input ng-switch-when="ESCRITURA" type="number" class="form-control" name="plazoMeses" id="field_plazoMeses"
                               ng-model="cuenta.plazoMeses" required readonly >
                        <input ng-switch-default type="number" class="form-control" name="plazoMeses" id="field_plazoMeses"
                               ng-model="cuenta.plazoMeses" required >
                    </div>

                    <div ng-show="editForm.plazoMeses.$invalid">
                        <p class="help-block"
                           ng-show="editForm.plazoMeses.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.plazoMeses.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.interesAnual" for="field_interesAnual">Interes Anual</label>
                    <input type="number" class="form-control" name="interesAnual" id="field_interesAnual"
                           ng-model="cuenta.interesAnual" required  ng-readonly="{{cuenta.tipoDocumento=='PAGARE_SIMPLE' ? false : true}}">

                    <div ng-show="editForm.interesAnual.$invalid">
                        <p class="help-block"
                           ng-show="editForm.interesAnual.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.interesAnual.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.saldo" for="field_saldo">Saldo</label>
                    <input type="number" class="form-control" name="saldo" id="field_saldo"
                           ng-model="cuenta.saldo" required readonly>

                    <div ng-show="editForm.saldo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.saldo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.saldo.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.tipoDocumento" for="field_tipoDocumento">TipoDocumento</label>
                    <select class="form-control" name="tipoDocumento" ng-model="cuenta.tipoDocumento" id="field_tipoDocumento">
                        <option ng-disabled="{{cuenta.tipoDocumento!='ENGANCHE'? true : false}}" value="ENGANCHE">ENGANCHE</option>
                        <option ng-disabled="{{cuenta.tipoDocumento!='ESCRITURA'? true : false}}" value="ESCRITURA">ESCRITURA</option>
                        <option ng-disabled="{{cuenta.tipoDocumento!='PAGARE_SIMPLE'? true : false}}" value="PAGARE_SIMPLE">PAGARE SIMPLE</option>
                        <option ng-disabled="{{cuenta.tipoDocumento!='RENTA'? true : false}}" value="RENTA">RENTA</option>
                    </select>

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.estatusCuenta" for="field_estatusCuenta">EstatusCuenta</label>
                    <select class="form-control" name="estatusCuenta" ng-model="cuenta.estatusCuenta" id="field_estatusCuenta">
                        <option  value="ACTIVADA">ACTIVADA</option>
                        <option  value="CANCELADA">CANCELADA</option>
                        <option  value="CONDONADA">CONDONADA</option>
                        <option  value="PAGADA">PAGADA</option>
                        <option  value="ACLARACION">ACLARACION</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.pagoMensual" for="field_pagoMensual">Pago Mensual</label>
                    <input type="text" class="form-control" name="numeroContratoOrigen" id="field_pagoMensual"
                           ng-model="cuenta.pagoMensual" readonly>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-4">

                <div class="form-group">
                    <label translate="cxcApp.cuenta.cliente" for="field_cliente">cliente</label>

                    <input type="hidden" class="form-control" name="cliente" id="field_cliente"
                           ng-model="cuenta.clienteId" required>
                    <div angucomplete-alt id="cuenta.clienteNombre"
                         name="cuenta.clienteNombre" placeholder="Clientes" pause="500"
                         selected-object="clienteSelected"
                         remote-url="http://127.0.0.1:8080/api/_search/clientes/"
                         remote-url-request-formatter="remoteUrlRequestFn" remote-url-data-field="" title-field="autocompleteIdAndNombre"
                         description-field="autocompleteFormat"  minlength="2" input-class="form-control form-control-small"
                         match-class="highlight" initial-value="initialClienteSelected"
                        >
                    </div>
                    <div ng-show="editForm.cliente.$invalid">
                        <p class="help-block"
                           ng-show="editForm.cliente.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.plaza" for="field_plaza">plaza</label>
                    <select required  class="form-control" id="field_plaza" name="plaza" ng-model="cuenta.plazaId" ng-options="plaza.id as plaza.nombre for plaza in plazas">
                    </select>
                    <div ng-show="editForm.plaza.$invalid">
                        <p class="help-block"
                           ng-show="editForm.plaza.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.empresa" for="field_empresa">empresa</label>
                    <select required  class="form-control" id="field_empresa" name="empresa" ng-model="cuenta.empresaId" ng-options="empresa.id as empresa.nombre for empresa in empresas">
                    </select>
                    <div ng-show="editForm.empresa.$invalid">
                        <p class="help-block"
                           ng-show="editForm.empresa.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.numeroContratoOrigen" for="field_numeroContratoOrigen">NumeroContratoOrigen</label>
                    <input type="text" class="form-control" name="numeroContratoOrigen" id="field_numeroContratoOrigen"
                           ng-model="cuenta.numeroContratoOrigen">

                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label translate="cxcApp.cuenta.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           ng-model="cuenta.descripcion">

                </div>
            </div>
        </div>
    </div>
        <div class="modal-header">
            <h4 class="modal-title" id="myMovimientoLabel" translate="cxcApp.cuenta.home.movimientosLabel">Agregar Movimientos</h4>
        </div>

        <div class="modal-body">



            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="form-group">
                        <label translate="cxcApp.cuenta.movimiento.numeroPagare" for="field_numeroPagare">NumeroPagare</label>
                        <input type="number" class="form-control" name="numeroPagare" id="field_numeroPagare"
                               ng-model="numeroPagare"  readonly>


                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label translate="cxcApp.cuenta.movimiento.conceptoMovimiento" for="field_conceptoMovimiento">ConceptoMovimiento</label>
                        <select class="form-control" name="conceptoMovimiento" ng-model="conceptoMovimiento" id="field_conceptoMovimiento" ng-change="conceptoChange()">
                            <option ng-disabled="{{cuenta.isNew === true ? false : true}}" value="CREDITO">CREDITO</option>
                            <option ng-disabled="{{cuenta.isNew === true ? false : true}}"value="APARTADO_INICIAL">APARTADO_INICIAL</option>
                            <option ng-disabled="{{cuenta.isNew === true ? false : true}}"value="ENGANCHE">ENGANCHE</option>
                            <option ng-disabled="{{cuenta.isNew === true ? true : false}}" value="PAGO">PAGO</option>

                        </select>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="form-group">
                        <label translate="cxcApp.cuenta.movimiento.monto" for="field_monto">Monto</label>
                        <input type="number" class="form-control" name="monto" id="field_monto"
                               ng-model="monto" >
                        <div ng-show="editForm.monto.$invalid">

                            <p class="help-block"
                               ng-show="editForm.monto.$error.number" translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>


                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="hide">
                        <input type="radio" ng-model="checked" ng-value="true">
                        <input type="radio" ng-model="muestraDialogoPago" ng-value="false">
                        <input type="radio" ng-model="confirmoPago" ng-value="false">
                    </div>

                    <div class="form-group">
                       <div class="check-element animate-show"  ng-show="checked">
                        <label translate="cxcApp.cuenta.movimiento.fechaVencimiento" for="field_fechaVencimiento">FechaVencimiento</label>
                        <input type="date" class="form-control" name="fechaVencimiento" id="field_fechaVencimiento"
                               ng-model="fechaVencimiento" >
                       </div>
                       <div class="check-element animate-show" ng-hide="checked" >
                           <label translate="cxcApp.cuenta.movimiento.tipoPago" for="field_tipoPago">Tipo Pago</label>
                           <select class="form-control" name="tipoPago" ng-model="tipoPago" id="field_tipoPago">
                               <option value="CHEQUE">CHEQUE</option>
                               <option value="DEPOSITO_EFECTIVO">DEPOSITO_EFECTIVO</option>
                               <option value="EFECTIVO">EFECTIVO</option>
                               <option value="REFERENCIADO">REFERENCIADO</option>
                               <option value="TARJETA_CREDITO">TARJETA_CREDITO</option>
                               <option value="TARJETA_DEBITO">TARJETA_DEBITO</option>

                           </select>
                       </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-1">
                    <div class="form-group">
                        <label  >&nbsp;</label>
                    <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="addMovimiento()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="check-element animate-show"  ng-show="muestraDialogoPago">
            <div class="row ">
            <div class="col-md-5 bg-warning">
                <div class="form-group">

                    <p class="text-center text-info"><strong>
                        ¡Confirmar Monto de Pago!
                    </strong>
                    </p>
                </div>
                </div>
                <div class="col-md-3 bg-warning">
                    <div class="form-group">
                        <input type="number" class="form-control" name="monto2" id="field_monto2"
                               ng-model="monto2" >
                        <div ng-show="editForm.monto2.$invalid">

                            <p class="help-block"
                               ng-show="editForm.monto2.$error.number" translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-md-3 bg-warning">
                    <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="confirmoPago = true;addMovimiento()">
                        <span class="glyphicon glyphicon-usd"></span>
                    </button>
                </div>
            </div>
            </div>





        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th translate="cxcApp.cuenta.movimiento.numeroPagare">NumeroPagare</th>
                    <th translate="cxcApp.cuenta.movimiento.conceptoMovimiento">ConceptoMovimiento</th>
                    <th translate="cxcApp.cuenta.movimiento.monto">Monto</th>
                    <th translate="cxcApp.cuenta.movimiento.saldo">Saldo</th>
                    <th translate="cxcApp.cuenta.movimiento.fechaVencimiento">FechaVencimiento</th>
                    <th translate="cxcApp.cuenta.movimiento.estatusMovimiento">EstatusMovimiento</th>

                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="movimiento in cuenta.movimientoDTOs | orderBy:['-tipoMovimiento','numeroPagare']">

                    <td>{{movimiento.numeroPagare}}</td>
                    <td>{{movimiento.conceptoMovimiento}}</td>
                    <td>$ {{movimiento.monto | currency: '' }}</td>
                    <td>$ {{movimiento.saldo | currency: '' }}</td>
                    <td>{{movimiento.fechaVencimiento | date:'dd/MM/yyyy'}}</td>
                    <td>{{movimiento.estatusMovimiento}}</td>
                    <td>
                        <div class="check-element animate-show"  ng-show="cuenta.isNew">
                            <button type="submit"
                                    ng-click="removeMovimiento(movimiento.numeroPagare)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                            </button>
                        </div>
                        <div class="check-element animate-show"  ng-show="movimiento.conceptoMovimiento==='PAGO'">

                           <!-- <a class="btn btn-info btn-sm" ng-href="#/movimientoPrint/{{movimiento.id}}" role="button" target="_blank">
                                <span class="glyphicon glyphicon-print"></span>&nbsp;<span translate="entity.action.print"> Print</span>
                            </a>-->
                            <button type="button"
                                    ng-click="impresionReciboPago(movimiento.id);"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> print</span>
                            </button>


                        </div>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>


        <div class="modal-body">
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Opciones de Pago</a>
                <li role="presentation">
                    <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Notas</a>
                </li>

            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                    <br>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th translate="cxcApp.cuenta.destinoPagos.convenio">Convenio</th>
                                <th translate="cxcApp.cuenta.destinoPagos.cuentaClabe">Cuenta Clabe</th>
                                <th translate="cxcApp.cuenta.destinoPagos.referencia">Referencia</th>
                                <th translate="cxcApp.cuenta.destinoPagos.banco">Banco</th>


                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="destinoPagos in cuenta.cuentaDestinoPagoDTOs">

                                <td>{{destinoPagos.convenio}}</td>
                                <td>{{destinoPagos.cuentaClabe}}</td>
                                <td>{{destinoPagos.referencia}}</td>
                                <td>{{destinoPagos.banco}}</td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                    <br>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th translate="cxcApp.cuenta.notas.titulo">titulo</th>
                                <th translate="cxcApp.cuenta.notas.descripcion">descripcion</th>
                                <th translate="cxcApp.cuenta.notas.fechaCreacion">fechaCreacion</th>

                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="nota in cuenta.notaDTOs">

                                <td>{{nota.titulo}}</td>
                                <td>{{nota.descripcion}}</td>
                                <td>{{nota.fechaCracion | date:'dd/MM/yyyy' }}</td>


                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button alig type="submit"
                ui-sref="cuenta"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
        <button type="button" class="btn btn-info ">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;<span translate="entity.action.help">Ayuda</span>
        </button>

        <button  type="submit" ng-disabled="editForm.$invalid && isDisableSave" class="btn btn-primary" >
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })




</script>
    <script type="text/javascript">
        var windowSizeArray = [ "width=200,height=200",
            "width=300,height=400,scrollbars=yes" ];

        $(document).ready(function(){
            $('.newWindow').click(function (event){

                var url = $(this).attr("href");
                var windowName = "popUp";//$(this).attr("name");
                var windowSize = windowSizeArray[$(this).attr("rel")];

                window.open(url, windowName, windowSize);

                event.preventDefault();

            });
        });
    </script>
    <style>

        @media screen {
            #printSection {
                display: none;
            }
        }
        @media print {
            body * {
                visibility:hidden;
            }
            #printSection, #printSection * {
                visibility:visible;
            }
            #printSection {
                position:absolute;
                left:0;
                top:0;
            }
        }



    </style>



    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-show="printShow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>


                </div>
                <div id="printThis">
                    <div class="container">
                        <table >
                            <tr>
                                <td>
                                    <img ng-src="assets/images/urbi_logo.png" alt="..." class="img-rounded">
                                </td>
                                <td style="text-align: right">
                                    <h2 class="modal-title">Recibo de Pago</h2>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="modal-body">
                        <table class="table">
                           <tr>
                               <td width="50%"  align="center">
<div class="box">
{{empresaRecibo.nombre}}.<br>
{{empresaRecibo.direccion}}<br>
{{empresaRecibo.municipio}}, {{empresaRecibo.estado}} <br>CP {{empresaRecibo.codigoPostal}}<br>


       {{empresaRecibo.rfc}}


</div></td>
                               <td width="50%">
<div class="box">
<strong>RECIBO:&nbsp;{{pago.folio}}</strong><br>
<strong>NO. CONTRATO:</strong>&nbsp;{{cuenta.secuenciaCuenta}}<br>
<strong>NO. CLIENTE:</strong>&nbsp;{{clienteRecibo.secuenciaCliente}}<br>
<strong>CLIENTE:</strong>{{clienteRecibo.nombreCompleto}}<br>
<strong>SALDO ACTUAL:</strong>&nbsp;${{cuenta.saldo}}<br>
<strong>FRACC.:</strong>&nbsp;{{clienteRecibo.colonia}}<br>
<strong>UBICACION:</strong>&nbsp;{{clienteRecibo.calle}}

</div>
                               </td>
                           </tr>
                            <tr>
                                <td colspan="2">
<pre>
    RECIBI  LA CANTIDAD DE &nbsp;${{pagoRecibo.monto}} M.N. ({{pagoRecibo.montoLetra}})<br>,
    POR CONCEPTO DE {{cuenta.tipoDocumento}} El DIA {{reciboFechaPago | uppercase  }}
</pre>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
<pre>
  ________________________________________________________________________
                     {{account.firstName}} {{account.lastName}}
     {{plazaRecibo.nombre}}, {{plazaRecibo.estado}}, A {{fechaActual |uppercase}}
</pre>
                </td>
                            </tr>

                        </table>



                    </div>
                    <div class="container">
                        <table >
                            <tr>
                                <td>
                                    <img ng-src="assets/images/urbi_logo.png" alt="..." class="img-rounded">
                                </td>
                                <td style="text-align: right">
                                    <h2 class="modal-title">Recibo de Pago</h2>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td width="50%"  align="center">
                                    <div class="box">
                                        {{empresaRecibo.nombre}}.<br>
                                        {{empresaRecibo.direccion}}<br>
                                        {{empresaRecibo.municipio}}, {{empresaRecibo.estado}} <br>CP {{empresaRecibo.codigoPostal}}<br>


                                        {{empresaRecibo.rfc}}


                                    </div></td>
                                <td width="50%">
                                    <div class="box">
                                        <strong>RECIBO:&nbsp;{{pago.folio}}</strong><br>
                                        <strong>NO. CONTRATO:</strong>&nbsp;{{cuenta.secuenciaCuenta}}<br>
                                        <strong>NO. CLIENTE:</strong>&nbsp;{{clienteRecibo.secuenciaCliente}}<br>
                                        <strong>CLIENTE:</strong>{{clienteRecibo.nombreCompleto}}<br>
                                        <strong>SALDO ACTUAL:</strong>&nbsp;${{cuenta.saldo}}<br>
                                        <strong>FRACC.:</strong>&nbsp;{{clienteRecibo.colonia}}<br>
                                        <strong>UBICACION:</strong>&nbsp;{{clienteRecibo.calle}}

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
<pre>
    RECIBI  LA CANTIDAD DE &nbsp;${{pagoRecibo.monto}} M.N. ({{pagoRecibo.montoLetra}})<br>,
    POR CONCEPTO DE {{cuenta.tipoDocumento}} El DIA {{reciboFechaPago | uppercase  }}
</pre>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
<pre>
  ________________________________________________________________________
                     {{account.firstName}} {{account.lastName}}
     {{plazaRecibo.nombre}}, {{plazaRecibo.estado}}, A {{fechaActual |uppercase}}
</pre>
                                </td>
                            </tr>

                        </table>



                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn-sm">Close</a>


                        <button class="btn btn-info btn-sm" type="button" id="btnPrint"><span class="glyphicon glyphicon-print"></span>&nbsp;<span translate="entity.action.print"> Print</span></button>

                </div>
            </div>
        </div>
    </div>



    <script>
        function printRecibo(){
            printElement(document.getElementById("printThis"));

            window.print();
            window.close();
        }
        document.getElementById("btnPrint").onclick = function () {
            printElement(document.getElementById("printThis"));

            //var modThis = document.querySelector("#printSection .modifyMe");
            //modThis.appendChild(document.createTextNode("new"));

            window.print();
            window.close();
        }

        function printElement(elem) {
            var domClone = elem.cloneNode(true);

            var $printSection = document.getElementById("printSection");

            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }

            $printSection.innerHTML = "";

            $printSection.appendChild(domClone);
        }



    </script>
    <!-- JavaScript jQuery code from Bootply.com editor -->

    <script type='text/javascript'>

        $(document).ready(function() {

            $('#myModal2').each(function () {
                var t = $(this),
                    d = t.find('.modal-dialog'),
                    fadeClass = (t.is('.fade') ? 'fade' : '');
                // render dialog
                t.removeClass('fade')
                    .addClass('invisible')
                    .css('display', 'block');
                // read and store dialog height
                d.data('height', d.height());
                // hide dialog again
                t.css('display', '')
                    .removeClass('invisible')
                    .addClass(fadeClass);
            });
            // phase two - set margin-top on every dialog show
            $('#myModal2').on('show.bs.modal', function () {
                var t = $(this),
                    d = t.find('.modal-dialog'),
                    dh = d.data('height'),
                    w = $(window).width(),
                    h = $(window).height();
                // if it is desktop & dialog is lower than viewport
                // (set your own values)
                if (w > 380 && (dh + 60) < h) {
                    d.css('margin-top', Math.round(0.96 * (h - dh) / 2));
                } else {
                    d.css('margin-top', '');
                }
            });


            $('#openBtn').click(function(){
                $('#myModal2').modal({show:true})
            });


            $('.modal').on('hidden.bs.modal', function( event ) {
                $(this).removeClass( 'fv-modal-stack' );
                $('body').data( 'fv_open_modals', $('body').data( 'fv_open_modals' ) - 1 );
            });


            $( '.modal' ).on( 'shown.bs.modal', function ( event ) {

                // keep track of the number of open modals

                if ( typeof( $('body').data( 'fv_open_modals' ) ) == 'undefined' )
                {
                    $('body').data( 'fv_open_modals', 0 );
                }


                // if the z-index of this modal has been set, ignore.

                if ( $(this).hasClass( 'fv-modal-stack' ) )
                {
                    return;
                }

                $(this).addClass( 'fv-modal-stack' );

                $('body').data( 'fv_open_modals', $('body').data( 'fv_open_modals' ) + 1 );

                $(this).css('z-index', 1040 + (10 * $('body').data( 'fv_open_modals' )));

                $( '.modal-backdrop' ).not( '.fv-modal-stack' )
                    .css( 'z-index', 1039 + (10 * $('body').data( 'fv_open_modals' )));


                $( '.modal-backdrop' ).not( 'fv-modal-stack' )
                    .addClass( 'fv-modal-stack' );

            });


        });



    </script>
</form>

