
<div>
    <h2><span translate="cxcApp.cuenta.detail.title">Cuenta</span> {{cuenta.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.fechaCreacion">FechaCreacion</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.fechaCreacion}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.saldo">Saldo</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.saldo}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.montoExigible">MontoExigible</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.montoExigible}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.saldoInicial">SaldoInicial</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.saldoInicial}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.fechaUltimoPago">FechaUltimoPago</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.fechaUltimoPago}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.numeroContratoOrigen">NumeroContratoOrigen</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.numeroContratoOrigen}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.descripcion">Descripcion</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.descripcion}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.attribute1">Attribute1</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.attribute1}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.attribute2">Attribute2</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.attribute2}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.tipoCuenta">TipoCuenta</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.tipoCuenta}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.estatusCuenta">EstatusCuenta</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.estatusCuenta}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.createdDate">CreatedDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.createdDate}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.lastModifiedDate">LastModifiedDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.lastModifiedDate}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.created">CreatedBy</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.created}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.updated">LastModifiedBy</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.updated}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.cliente">cliente</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.clienteId}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuenta.plaza">plaza</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuenta.plazaId}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="cuenta"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
