
<div>
    <h2><span translate="cxcApp.cargaInicial.detail.title">CargaInicial</span> {{cargaInicial.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="cxcApp.cargaInicial.tipoCarga">TipoCarga</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly" translate="cxcApp.TipoCargaType.SELECT"
                          translate-interpolation="messageformat" translate-values="{ VALUE: cargaInicial.tipoCarga }"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cargaInicial.archivo">Archivo</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cargaInicial.archivo}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cargaInicial.mensaje">Mensaje</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cargaInicial.mensaje}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.cargaInicial.fechaCarga">FechaCarga</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{cargaInicial.fechaCarga}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="cargaInicial"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
