
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCargaInicialLabel" translate="cxcApp.cargaInicial.home.createOrEditLabel">Create or edit a CargaInicial</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="cargaInicial.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.cargaInicial.tipoCarga" for="field_tipoCarga">TipoCarga</label>
            <select class="form-control" name="tipoCarga" ng-model="cargaInicial.tipoCarga" id="field_tipoCarga" required>
               <option value="CLIENTE" translate="cxcApp.TipoCargaType.CLIENTE">CLIENTE</option>
               <option value="CUENTA" translate="cxcApp.TipoCargaType.CUENTA">CUENTA</option>
               <option value="PAGO_REFERENCIADO" translate="cxcApp.TipoCargaType.PAGO_REFERENCIADO">PAGO_REFERENCIADO</option>
               <option value="EMPRESA" translate="cxcApp.TipoCargaType.EMPRESA">EMPRESA</option>
               <option value="DESTINO_PAGO" translate="cxcApp.TipoCargaType.DESTINO_PAGO">DESTINO_PAGO</option>
                <option value="PLAZA" translate="cxcApp.TipoCargaType.PLAZA">PLAZA</option>
                <option value="EMPRESA_DESTINO_PAGO" >EMPRESA DESTINO PAGO</option>
                <option value="CUENTA_DESTINO PAGO" >CUENTA DESTINO PAGO</option>
            </select>

            <div ng-show="editForm.tipoCarga.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipoCarga.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="setArchivo($files, cargaInicial)">
            <label translate="cxcApp.cargaInicial.archivo" for="field_archivo">Archivo</label>
            <div>
                <div class="help-block clearfix">
                    <span class="pull-left">{{abbreviate(cargaInicial.archivo) + ' ' + byteSize(cargaInicial.archivo)}}</span>
                    <button ng-click="cargaInicial.archivo=null"
                            ng-if="cargaInicial.archivo"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setArchivo($files, cargaInicial)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="archivo" id="field_archivo"
                    ng-model="cargaInicial.archivo"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.cargaInicial.mensaje" for="field_mensaje">Mensaje</label>
            <input type="text" class="form-control" name="mensaje" id="field_mensaje"
                    ng-model="cargaInicial.mensaje"
                    >

        </div>
        <div class="form-group">
            <label translate="cxcApp.cargaInicial.fechaCarga" for="field_fechaCarga">FechaCarga</label>
            <input type="datetime-local" class="form-control" name="fechaCarga" id="field_fechaCarga"
                    ng-model="cargaInicial.fechaCarga" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
