
<div>
    <h2><span translate="cxcApp.pagoReferenciado.detail.title">PagoReferenciado</span> {{pagoReferenciado.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.montoPago">MontoPago</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.montoPago}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.referencia">Referencia</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.referencia}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.cuentaClabe">CuentaClabe</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.cuentaClabe}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.observaciones">Observaciones</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.observaciones}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.fechaPago">FechaPago</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.fechaPago}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.fechaCargaPago">FechaCargaPago</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.fechaCargaPago}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.folioExternoConciliacion">FolioExternoConciliacion</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.folioExternoConciliacion}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.folioCarga">FolioCarga</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.folioCarga}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.convenio">Convenio</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.convenio}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.fechaAplicacionPago">FechaAplicacionPago</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.fechaAplicacionPago}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.comentario">Comentario</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.comentario}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.estatusPago">EstatusPago</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.estatusPago}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.created">CreatedBy</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.created}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.createdDate">CreatedDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.createdDate}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.updated">LastModifiedBy</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.updated}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.lastModifiedDate">LastModifiedDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.lastModifiedDate}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.pagoReferenciado.plaza">plaza</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{pagoReferenciado.plazaId}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="pagoReferenciado"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
