
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPagoReferenciadoLabel" translate="cxcApp.pagoReferenciado.home.createOrEditLabel">Create or edit a PagoReferenciado</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="pagoReferenciado.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.montoPago" for="field_montoPago">MontoPago</label>
            <input type="number" class="form-control" name="montoPago" id="field_montoPago"
                    ng-model="pagoReferenciado.montoPago">

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.referencia" for="field_referencia">Referencia</label>
            <input type="text" class="form-control" name="referencia" id="field_referencia"
                    ng-model="pagoReferenciado.referencia" required>

            <div ng-show="editForm.referencia.$invalid">
                <p class="help-block"
                    ng-show="editForm.referencia.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.cuentaClabe" for="field_cuentaClabe">CuentaClabe</label>
            <input type="text" class="form-control" name="cuentaClabe" id="field_cuentaClabe"
                    ng-model="pagoReferenciado.cuentaClabe" required>

            <div ng-show="editForm.cuentaClabe.$invalid">
                <p class="help-block"
                    ng-show="editForm.cuentaClabe.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.observaciones" for="field_observaciones">Observaciones</label>
            <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                    ng-model="pagoReferenciado.observaciones">

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.fechaPago" for="field_fechaPago">FechaPago</label>
            <input type="date" class="form-control" name="fechaPago" id="field_fechaPago"
                    ng-model="pagoReferenciado.fechaPago">

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.fechaCargaPago" for="field_fechaCargaPago">FechaCargaPago</label>
            <input type="datetime-local" class="form-control" name="fechaCargaPago" id="field_fechaCargaPago"
                    ng-model="pagoReferenciado.fechaCargaPago" ng-model-options="{timezone: 'UTC'}">

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.folioExternoConciliacion" for="field_folioExternoConciliacion">FolioExternoConciliacion</label>
            <input type="text" class="form-control" name="folioExternoConciliacion" id="field_folioExternoConciliacion"
                    ng-model="pagoReferenciado.folioExternoConciliacion">

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.folioCarga" for="field_folioCarga">FolioCarga</label>
            <input type="text" class="form-control" name="folioCarga" id="field_folioCarga"
                    ng-model="pagoReferenciado.folioCarga" required>

            <div ng-show="editForm.folioCarga.$invalid">
                <p class="help-block"
                    ng-show="editForm.folioCarga.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.convenio" for="field_convenio">Convenio</label>
            <input type="text" class="form-control" name="convenio" id="field_convenio"
                    ng-model="pagoReferenciado.convenio">

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.fechaAplicacionPago" for="field_fechaAplicacionPago">FechaAplicacionPago</label>
            <input type="datetime-local" class="form-control" name="fechaAplicacionPago" id="field_fechaAplicacionPago"
                    ng-model="pagoReferenciado.fechaAplicacionPago" ng-model-options="{timezone: 'UTC'}">

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.comentario" for="field_comentario">Comentario</label>
            <input type="text" class="form-control" name="comentario" id="field_comentario"
                    ng-model="pagoReferenciado.comentario">

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.estatusPago" for="field_estatusPago">EstatusPago</label>
            <select class="form-control" name="estatusPago" ng-model="pagoReferenciado.estatusPago" id="field_estatusPago">
               <option value="APLICADO">APLICADO</option>
               <option value="DUPLICADO">DUPLICADO</option>
               <option value="POR_APLICAR">POR_APLICAR</option>
               <option value="REVISION">REVISION</option>
            </select>

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.created" for="field_createdBy">CreatedBy</label>
            <input type="number" class="form-control" name="created" id="field_createdBy"
                    ng-model="pagoReferenciado.created">

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.createdDate" for="field_createdDate">CreatedDate</label>
            <input type="datetime-local" class="form-control" name="createdDate" id="field_createdDate"
                    ng-model="pagoReferenciado.createdDate" ng-model-options="{timezone: 'UTC'}">

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.updated" for="field_lastModifiedBy">LastModifiedBy</label>
            <input type="number" class="form-control" name="updated" id="field_lastModifiedBy"
                    ng-model="pagoReferenciado.updated">

        </div>
        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.lastModifiedDate" for="field_lastModifiedDate">LastModifiedDate</label>
            <input type="datetime-local" class="form-control" name="lastModifiedDate" id="field_lastModifiedDate"
                    ng-model="pagoReferenciado.lastModifiedDate" ng-model-options="{timezone: 'UTC'}">

        </div>

        <div class="form-group">
            <label translate="cxcApp.pagoReferenciado.plaza" for="field_plaza">plaza</label>
            <select class="form-control" id="field_plaza" name="plaza" ng-model="pagoReferenciado.plaza.id" ng-options="plaza.id as plaza.id for plaza in plazas">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
