<div>

    <h2 translate="cxcApp.pagoReferenciado.home.title">PagoReferenciados</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="pagoReferenciado.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cxcApp.pagoReferenciado.home.createLabel">Create a new PagoReferenciado</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a PagoReferenciado</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePagoReferenciadoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(pagoReferenciado.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cxcApp.pagoReferenciado.delete.question" translate-values="{id: '{{pagoReferenciado.id}}'}">Are you sure you want to delete this PagoReferenciado?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="cxcApp.pagoReferenciado.montoPago">MontoPago</th>
                    <th translate="cxcApp.pagoReferenciado.referencia">Referencia</th>
                    <th translate="cxcApp.pagoReferenciado.cuentaClabe">CuentaClabe</th>
                    <th translate="cxcApp.pagoReferenciado.observaciones">Observaciones</th>
                    <th translate="cxcApp.pagoReferenciado.fechaPago">FechaPago</th>
                    <th translate="cxcApp.pagoReferenciado.fechaCargaPago">FechaCargaPago</th>
                    <th translate="cxcApp.pagoReferenciado.folioExternoConciliacion">FolioExternoConciliacion</th>
                    <th translate="cxcApp.pagoReferenciado.folioCarga">FolioCarga</th>
                    <th translate="cxcApp.pagoReferenciado.convenio">Convenio</th>
                    <th translate="cxcApp.pagoReferenciado.fechaAplicacionPago">FechaAplicacionPago</th>
                    <th translate="cxcApp.pagoReferenciado.comentario">Comentario</th>
                    <th translate="cxcApp.pagoReferenciado.estatusPago">EstatusPago</th>
                    <th translate="cxcApp.pagoReferenciado.created">CreatedBy</th>
                    <th translate="cxcApp.pagoReferenciado.createdDate">CreatedDate</th>
                    <th translate="cxcApp.pagoReferenciado.updated">LastModifiedBy</th>
                    <th translate="cxcApp.pagoReferenciado.lastModifiedDate">LastModifiedDate</th>
                    <th translate="cxcApp.pagoReferenciado.plaza">plaza</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pagoReferenciado in pagoReferenciados">
                    <td><a ui-sref="pagoReferenciado.detail({id:pagoReferenciado.id})">{{pagoReferenciado.id}}</a></td>
                    <td>{{pagoReferenciado.montoPago}}</td>
                    <td>{{pagoReferenciado.referencia}}</td>
                    <td>{{pagoReferenciado.cuentaClabe}}</td>
                    <td>{{pagoReferenciado.observaciones}}</td>
                    <td>{{pagoReferenciado.fechaPago}}</td>
                    <td>{{pagoReferenciado.fechaCargaPago}}</td>
                    <td>{{pagoReferenciado.folioExternoConciliacion}}</td>
                    <td>{{pagoReferenciado.folioCarga}}</td>
                    <td>{{pagoReferenciado.convenio}}</td>
                    <td>{{pagoReferenciado.fechaAplicacionPago}}</td>
                    <td>{{pagoReferenciado.comentario}}</td>
                    <td>{{pagoReferenciado.estatusPago}}</td>
                    <td>{{pagoReferenciado.created}}</td>
                    <td>{{pagoReferenciado.createdDate}}</td>
                    <td>{{pagoReferenciado.updated}}</td>
                    <td>{{pagoReferenciado.lastModifiedDate}}</td>
                    <td>{{pagoReferenciado.plazaId}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="pagoReferenciado.detail({id:pagoReferenciado.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="pagoReferenciado.edit({id:pagoReferenciado.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(pagoReferenciado.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
