
<div>
    <h2><span translate="cxcApp.caja.detail.title">Caja</span> {{caja.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="cxcApp.caja.nombre">Nombre</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{caja.nombre}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.caja.descripcion">Descripcion</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{caja.descripcion}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.caja.ubicacion">Ubicacion</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{caja.ubicacion}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="caja"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
