
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myFileLoaderLabel" translate="cxcApp.fileLoader.home.createOrEditLabel">Create or edit a FileLoader</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="fileLoader.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.fileLoader.tipoDato" for="field_tipoDato">TipoDato</label>
            <select class="form-control" name="tipoDato" ng-model="fileLoader.tipoDato" id="field_tipoDato" required>
               <option value="CLIENTE" translate="cxcApp.ObjectNameEnum.CLIENTE">CLIENTE</option>
               <option value="CUENTA" translate="cxcApp.ObjectNameEnum.CUENTA">CUENTA</option>
               <option value="PAGO_REFERENCIADO" translate="cxcApp.ObjectNameEnum.PAGO_REFERENCIADO">PAGO_REFERENCIADO</option>
               <option value="EMPRESA" translate="cxcApp.ObjectNameEnum.EMPRESA">EMPRESA</option>
               <option value="DESTINO_PAGO" translate="cxcApp.ObjectNameEnum.DESTINO_PAGO">DESTINO_PAGO</option>
               <option value="" translate="cxcApp.ObjectNameEnum."></option>
            </select>

            <div ng-show="editForm.tipoDato.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipoDato.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="setFile($files, fileLoader)">
            <label translate="cxcApp.fileLoader.file" for="field_file">File</label>
            <div>
                <div class="help-block clearfix">
                    <span class="pull-left">{{abbreviate(fileLoader.file) + ' ' + byteSize(fileLoader.file)}}</span>
                    <button ng-click="fileLoader.file=null"
                            ng-if="fileLoader.file"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setFile($files, fileLoader)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                    ng-model="fileLoader.file"
                    required>

            <div ng-show="editForm.file.$invalid">
                <p class="help-block"
                    ng-show="editForm.file.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
