<div>

    <h2 translate="cxcApp.fileLoader.home.title">FileLoaders</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="fileLoader.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cxcApp.fileLoader.home.createLabel">Create a new FileLoader</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a FileLoader</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteFileLoaderConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(fileLoader.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cxcApp.fileLoader.delete.question" translate-values="{id: '{{fileLoader.id}}'}">Are you sure you want to delete this FileLoader?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="cxcApp.fileLoader.tipoDato">TipoDato</th>
                    <th translate="cxcApp.fileLoader.file">File</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fileLoader in fileLoaders">
                    <td><a ui-sref="fileLoader.detail({id:fileLoader.id})">{{fileLoader.id}}</a></td>
                    <td>{{fileLoader.tipoDato}}</td>
                    <td>
                        {{abbreviate(fileLoader.file) + ' ' + byteSize(fileLoader.file)}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="fileLoader.detail({id:fileLoader.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="fileLoader.edit({id:fileLoader.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(fileLoader.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
