
<div>
    <h2><span translate="cxcApp.fileLoader.detail.title">FileLoader</span> {{fileLoader.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="cxcApp.fileLoader.tipoDato">TipoDato</span>
                </td>
                <td>
                    <span class="input-sm form-control readonly" translate="cxcApp.ObjectNameEnum.SELECT"
                          translate-interpolation="messageformat" translate-values="{ VALUE: fileLoader.tipoDato }"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.fileLoader.file">File</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{fileLoader.file}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="fileLoader"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
