
<div>
    <h2><span translate="cxcApp.municipio.detail.title">Municipio</span> {{municipio.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="cxcApp.municipio.nombre">Nombre</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{municipio.nombre}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.municipio.estado">estado</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{municipio.estadoId}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="municipio"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
