
<div>
    <h2><span translate="cxcApp.estado.detail.title">Estado</span> {{estado.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="cxcApp.estado.nombre">Nombre</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{estado.nombre}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.estado.region">Region</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{estado.region}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="estado"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
