
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myFoliadorReciboPagoLabel" translate="cxcApp.foliadorReciboPago.home.createOrEditLabel">Create or edit a FoliadorReciboPago</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="foliadorReciboPago.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.foliadorReciboPago.secuencia" for="field_secuencia">Secuencia</label>
            <input type="number" class="form-control" name="secuencia" id="field_secuencia"
                    ng-model="foliadorReciboPago.secuencia"
                    >
            <div ng-show="editForm.secuencia.$invalid">
                <p class="help-block"
                   ng-show="editForm.secuencia.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>

            </div>


        </div>
        <div class="form-group">
            <label translate="cxcApp.foliadorReciboPago.empresa" for="field_empresa">Empresa</label>
            <select required  class="form-control" id="field_empresa" name="empresa" ng-model="foliadorReciboPago.empresaId" ng-options="empresa.id as empresa.nombre for empresa in empresas">
            </select>
            <div ng-show="editForm.empresa.$invalid">
                <p class="help-block"
                   ng-show="editForm.empresa.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>

            </div>


        </div>
        <div class="form-group">
            <label translate="cxcApp.foliadorReciboPago.plaza" for="field_plaza">Plaza</label>

            <select required  class="form-control" id="field_plaza" name="plaza" ng-model="foliadorReciboPago.plazaId" ng-options="plaza.id as plaza.nombre for plaza in plazas">
            </select>
            <div ng-show="editForm.plaza.$invalid">
                <p class="help-block"
                   ng-show="editForm.plaza.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>

            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
