
<div>
    <h2><span translate="cxcApp.foliadorReciboPago.detail.title">FoliadorReciboPago</span> {{foliadorReciboPago.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="cxcApp.foliadorReciboPago.secuencia">Secuencia</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{foliadorReciboPago.secuencia}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.foliadorReciboPago.empresa">Empresa</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{foliadorReciboPago.empresa}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="cxcApp.foliadorReciboPago.plaza">Plaza</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{foliadorReciboPago.plaza}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="foliadorReciboPago"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
