
<div>
    <h2><span translate="cxcApp.cuentaDestinoPago.detail.title">CuentaDestinoPago</span> {{cuentaDestinoPago.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="cxcApp.cuentaDestinoPago.convenio">Convenio</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuentaDestinoPago.convenio}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuentaDestinoPago.cuentaClabe">CuentaClabe</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuentaDestinoPago.cuentaClabe}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuentaDestinoPago.referencia">Referencia</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuentaDestinoPago.referencia}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuentaDestinoPago.banco">Banco</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuentaDestinoPago.banco}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.cuentaDestinoPago.cuenta">cuenta</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cuentaDestinoPago.cuentaId}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="cuentaDestinoPago"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
