
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCuentaDestinoPagoLabel" translate="cxcApp.cuentaDestinoPago.home.createOrEditLabel">Create or edit a CuentaDestinoPago</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="cuentaDestinoPago.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.cuentaDestinoPago.convenio" for="field_convenio">Convenio</label>
            <input type="text" class="form-control" name="convenio" id="field_convenio"
                    ng-model="cuentaDestinoPago.convenio">

        </div>
        <div class="form-group">
            <label translate="cxcApp.cuentaDestinoPago.cuentaClabe" for="field_cuentaClabe">CuentaClabe</label>
            <input type="text" class="form-control" name="cuentaClabe" id="field_cuentaClabe"
                    ng-model="cuentaDestinoPago.cuentaClabe">

        </div>
        <div class="form-group">
            <label translate="cxcApp.cuentaDestinoPago.referencia" for="field_referencia">Referencia</label>
            <input type="text" class="form-control" name="referencia" id="field_referencia"
                    ng-model="cuentaDestinoPago.referencia">

        </div>
        <div class="form-group">
            <label translate="cxcApp.cuentaDestinoPago.banco" for="field_banco">Banco</label>
            <input type="text" class="form-control" name="banco" id="field_banco"
                    ng-model="cuentaDestinoPago.banco">

        </div>

        <div class="form-group">
            <label translate="cxcApp.cuentaDestinoPago.cuenta" for="field_cuenta">cuenta</label>
            <select class="form-control" id="field_cuenta" name="cuenta" ng-model="cuentaDestinoPago.cuenta.id" ng-options="cuenta.id as cuenta.id for cuenta in cuentas">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
