<style>

    @media screen {
        #printSection {
            display: none;
        }
    }
    @media print {
        body * {
            visibility:hidden;
        }
        #printSection, #printSection * {
            visibility:visible;
        }
        #printSection {
            position:absolute;
            left:0;
            top:0;
        }
    }



</style>

<div>

    <button class="btn btn-info btn-sm" type="button" id="btnPrint"><span class="glyphicon glyphicon-print"></span>&nbsp;<span translate="entity.action.print"> Print</span></button>
</div>


<div id="printThis">
    <h2><span translate="cxcApp.movimiento.detail.title">Movimiento</span> {{movimiento.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.monto">Monto</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.monto}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.numeroPagare">NumeroPagare</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.numeroPagare}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.numeroPago">NumeroPago</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.numeroPago}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.fechaVencimiento">FechaVencimiento</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.fechaVencimiento}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.fechaPago">FechaPago</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.fechaPago}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.estatusMovimiento">EstatusMovimiento</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.estatusMovimiento}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.secuenciaMovimiento">SecuenciaMovimiento</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.secuenciaMovimiento}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.tipoPago">TipoPago</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.tipoPago}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.tipoMovimiento">TipoMovimiento</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.tipoMovimiento}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.conceptoMovimiento">ConceptoMovimiento</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.conceptoMovimiento}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.createdDate">CreatedDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.createdDate}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.lastModifiedDate">LastModifiedDate</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.lastModifiedDate}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.movimiento.cuenta">cuenta</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{movimiento.cuentaId}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<script>
    document.getElementById("btnPrint").onclick = function () {
        printElement(document.getElementById("printThis"));

        //var modThis = document.querySelector("#printSection .modifyMe");
        //modThis.appendChild(document.createTextNode("new"));

        window.print();
        window.close();
    }

    function printElement(elem) {
        var domClone = elem.cloneNode(true);

        var $printSection = document.getElementById("printSection");

        if (!$printSection) {
            var $printSection = document.createElement("div");
            $printSection.id = "printSection";
            document.body.appendChild($printSection);
        }

        $printSection.innerHTML = "";

        $printSection.appendChild(domClone);
    }



</script>
