<div>

    <h2 translate="cxcApp.movimiento.home.title">Movimientos</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="movimiento.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cxcApp.movimiento.home.createLabel">Create a new Movimiento</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Movimiento</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteMovimientoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(movimiento.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cxcApp.movimiento.delete.question" translate-values="{id: '{{movimiento.id}}'}">Are you sure you want to delete this Movimiento?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="cxcApp.movimiento.monto">Monto</th>
                    <th translate="cxcApp.movimiento.numeroPagare">NumeroPagare</th>
                    <th translate="cxcApp.movimiento.numeroPago">NumeroPago</th>
                    <th translate="cxcApp.movimiento.fechaVencimiento">FechaVencimiento</th>
                    <th translate="cxcApp.movimiento.fechaPago">FechaPago</th>
                    <th translate="cxcApp.movimiento.estatusMovimiento">EstatusMovimiento</th>
                    <th translate="cxcApp.movimiento.secuenciaMovimiento">SecuenciaMovimiento</th>
                    <th translate="cxcApp.movimiento.tipoPago">TipoPago</th>
                    <th translate="cxcApp.movimiento.tipoMovimiento">TipoMovimiento</th>
                    <th translate="cxcApp.movimiento.conceptoMovimiento">ConceptoMovimiento</th>
                    <th translate="cxcApp.movimiento.createdDate">CreatedDate</th>
                    <th translate="cxcApp.movimiento.lastModifiedDate">LastModifiedDate</th>
                    <th translate="cxcApp.movimiento.cuenta">cuenta</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movimiento in movimientos">
                    <td><a ui-sref="movimiento.detail({id:movimiento.id})">{{movimiento.id}}</a></td>
                    <td>{{movimiento.monto}}</td>
                    <td>{{movimiento.numeroPagare}}</td>
                    <td>{{movimiento.numeroPago}}</td>
                    <td>{{movimiento.fechaVencimiento}}</td>
                    <td>{{movimiento.fechaPago}}</td>
                    <td>{{movimiento.estatusMovimiento}}</td>
                    <td>{{movimiento.secuenciaMovimiento}}</td>
                    <td>{{movimiento.tipoPago}}</td>
                    <td>{{movimiento.tipoMovimiento}}</td>
                    <td>{{movimiento.conceptoMovimiento}}</td>
                    <td>{{movimiento.createdDate}}</td>
                    <td>{{movimiento.lastModifiedDate}}</td>
                    <td>{{movimiento.cuentaId}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="movimiento.detail({id:movimiento.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="movimiento.edit({id:movimiento.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(movimiento.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
