
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMovimientoLabel" translate="cxcApp.movimiento.home.createOrEditLabel">Create or edit a Movimiento</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="movimiento.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.movimiento.monto" for="field_monto">Monto</label>
            <input type="number" class="form-control" name="monto" id="field_monto"
                    ng-model="movimiento.monto" required>

            <div ng-show="editForm.monto.$invalid">
                <p class="help-block"
                    ng-show="editForm.monto.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.monto.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.movimiento.numeroPagare" for="field_numeroPagare">NumeroPagare</label>
            <input type="number" class="form-control" name="numeroPagare" id="field_numeroPagare"
                    ng-model="movimiento.numeroPagare" required>

            <div ng-show="editForm.numeroPagare.$invalid">
                <p class="help-block"
                    ng-show="editForm.numeroPagare.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numeroPagare.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.movimiento.numeroPago" for="field_numeroPago">NumeroPago</label>
            <input type="number" class="form-control" name="numeroPago" id="field_numeroPago"
                    ng-model="movimiento.numeroPago" required>

            <div ng-show="editForm.numeroPago.$invalid">
                <p class="help-block"
                    ng-show="editForm.numeroPago.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numeroPago.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.movimiento.fechaVencimiento" for="field_fechaVencimiento">FechaVencimiento</label>
            <input type="date" class="form-control" name="fechaVencimiento" id="field_fechaVencimiento"
                    ng-model="movimiento.fechaVencimiento" required>

            <div ng-show="editForm.fechaVencimiento.$invalid">
                <p class="help-block"
                    ng-show="editForm.fechaVencimiento.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.movimiento.fechaPago" for="field_fechaPago">FechaPago</label>
            <input type="date" class="form-control" name="fechaPago" id="field_fechaPago"
                    ng-model="movimiento.fechaPago" required>

            <div ng-show="editForm.fechaPago.$invalid">
                <p class="help-block"
                    ng-show="editForm.fechaPago.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.movimiento.estatusMovimiento" for="field_estatusMovimiento">EstatusMovimiento</label>
            <select class="form-control" name="estatusMovimiento" ng-model="movimiento.estatusMovimiento" id="field_estatusMovimiento">
               <option value="CORRIENTE">CORRIENTE</option>
               <option value="PAGADO">PAGADO</option>
               <option value="VENCIDO">VENCIDO</option>
               <option value="CONDONADO">CONDONADO</option>
            </select>

        </div>
        <div class="form-group">
            <label translate="cxcApp.movimiento.secuenciaMovimiento" for="field_secuenciaMovimiento">SecuenciaMovimiento</label>
            <input type="number" class="form-control" name="secuenciaMovimiento" id="field_secuenciaMovimiento"
                    ng-model="movimiento.secuenciaMovimiento">

        </div>
        <div class="form-group">
            <label translate="cxcApp.movimiento.tipoPago" for="field_tipoPago">TipoPago</label>
            <select class="form-control" name="tipoPago" ng-model="movimiento.tipoPago" id="field_tipoPago">
               <option value="CHEQUE">CHEQUE</option>
               <option value="DEPOSITO_EFECTIVO">DEPOSITO_EFECTIVO</option>
               <option value="EFECTIVO">EFECTIVO</option>
               <option value="REFERENCIADO">REFERENCIADO</option>
               <option value="TARJETA_CREDITO">TARJETA_CREDITO</option>
               <option value="TARJETA_DEBITO">TARJETA_DEBITO</option>
            </select>

        </div>
        <div class="form-group">
            <label translate="cxcApp.movimiento.tipoMovimiento" for="field_tipoMovimiento">TipoMovimiento</label>
            <select class="form-control" name="tipoMovimiento" ng-model="movimiento.tipoMovimiento" id="field_tipoMovimiento">
               <option value="CARGO">CARGO</option>
               <option value="ABONO">ABONO</option>
            </select>

        </div>
        <div class="form-group">
            <label translate="cxcApp.movimiento.conceptoMovimiento" for="field_conceptoMovimiento">ConceptoMovimiento</label>
            <select class="form-control" name="conceptoMovimiento" ng-model="movimiento.conceptoMovimiento" id="field_conceptoMovimiento">
               <option value="APARTADO_INICIAL">APARTADO_INICIAL</option>
               <option value="PAGARE">PAGARE</option>
               <option value="RENTA">RENTA</option>
               <option value="PAGO">PAGO</option>
               <option value="INTERES">INTERES</option>
               <option value="CREDITO">CREDITO</option>
               <option value="ENGANCHE">ENGANCHE</option>
            </select>

        </div>
        <div class="form-group">
            <label translate="cxcApp.movimiento.createdDate" for="field_createdDate">CreatedDate</label>
            <input type="datetime-local" class="form-control" name="createdDate" id="field_createdDate"
                    ng-model="movimiento.createdDate" ng-model-options="{timezone: 'UTC'}">

        </div>
        <div class="form-group">
            <label translate="cxcApp.movimiento.lastModifiedDate" for="field_lastModifiedDate">LastModifiedDate</label>
            <input type="datetime-local" class="form-control" name="lastModifiedDate" id="field_lastModifiedDate"
                    ng-model="movimiento.lastModifiedDate" ng-model-options="{timezone: 'UTC'}">

        </div>

        <div class="form-group">
            <label translate="cxcApp.movimiento.cuenta" for="field_cuenta">cuenta</label>
            <input type="number" class="form-control" name="cuenta" id="field_cuenta"
                   ng-model="movimiento.cuenta.id" required>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
