<div>

    <h2 translate="cxcApp.secuenciaCuenta.home.title">SecuenciaCuentas</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="secuenciaCuenta.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cxcApp.secuenciaCuenta.home.createLabel">Create a new SecuenciaCuenta</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a SecuenciaCuenta</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSecuenciaCuentaConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(secuenciaCuenta.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cxcApp.secuenciaCuenta.delete.question" translate-values="{id: '{{secuenciaCuenta.id}}'}">Are you sure you want to delete this SecuenciaCuenta?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="cxcApp.secuenciaCuenta.tipoCuenta">TipoCuenta</th>
                    <th translate="cxcApp.secuenciaCuenta.secuencia">Secuencia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="secuenciaCuenta in secuenciaCuentas">
                    <td><a ui-sref="secuenciaCuenta.detail({id:secuenciaCuenta.id})">{{secuenciaCuenta.id}}</a></td>
                    <td>{{secuenciaCuenta.tipoCuenta}}</td>
                    <td>{{secuenciaCuenta.secuencia}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="secuenciaCuenta.detail({id:secuenciaCuenta.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="secuenciaCuenta.edit({id:secuenciaCuenta.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(secuenciaCuenta.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
