
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySecuenciaCuentaLabel" translate="cxcApp.secuenciaCuenta.home.createOrEditLabel">Create or edit a SecuenciaCuenta</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="secuenciaCuenta.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.secuenciaCuenta.tipoCuenta" for="field_tipoCuenta">TipoCuenta</label>
            <select class="form-control" name="tipoCuenta" ng-model="secuenciaCuenta.tipoCuenta" id="field_tipoCuenta">
               <option value="VENCIMIENTO_FIJO">VENCIMIENTO_FIJO</option>
               <option value="SALDO_INSOLUTO">SALDO_INSOLUTO</option>
               <option value="RENTA">RENTA</option>
            </select>

        </div>
        <div class="form-group">
            <label translate="cxcApp.secuenciaCuenta.secuencia" for="field_secuencia">Secuencia</label>
            <input type="number" class="form-control" name="secuencia" id="field_secuencia"
                    ng-model="secuenciaCuenta.secuencia">

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
