
<div>
    <h2><span translate="cxcApp.secuenciaCuenta.detail.title">SecuenciaCuenta</span> {{secuenciaCuenta.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="cxcApp.secuenciaCuenta.tipoCuenta">TipoCuenta</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{secuenciaCuenta.tipoCuenta}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.secuenciaCuenta.secuencia">Secuencia</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{secuenciaCuenta.secuencia}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="secuenciaCuenta"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
