<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>cxc</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="cxcApp">
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
       <!-- <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak=""></div>-->
        <div ui-view="navbar" ng-cloak=""></div>
        <div class="container">

            <div class="well" ui-view="content"></div>
            <jh-alert-toast></jh-alert-toast>
            <div class="footer">
                <p translate="footer">This is your footer</p>
            </div>
        </div>

        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/messageformat/messageformat.js"></script>
        <script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
        <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>

    <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/app.constants.js"></script>
    <script src="scripts/components/auth/auth.service.js"></script>
    <script src="scripts/components/auth/principal.service.js"></script>
    <script src="scripts/components/auth/authority.directive.js"></script>
    <script src="scripts/components/auth/services/account.service.js"></script>
    <script src="scripts/components/auth/services/activate.service.js"></script>
    <script src="scripts/components/auth/services/password.service.js"></script>
    <script src="scripts/components/auth/services/register.service.js"></script>
    <script src="scripts/components/form/form.directive.js"></script>
    <script src="scripts/components/form/maxbytes.directive.js"></script>
    <script src="scripts/components/form/minbytes.directive.js"></script>
    <script src="scripts/components/form/pager.directive.js"></script>
    <script src="scripts/components/form/pagination.directive.js"></script>
    <script src="scripts/components/admin/audits.service.js"></script>
    <script src="scripts/components/admin/logs.service.js"></script>
    <script src="scripts/components/admin/configuration.service.js"></script>
    <script src="scripts/components/admin/monitoring.service.js"></script>
    <script src="scripts/components/interceptor/auth.interceptor.js"></script>
    <script src="scripts/components/interceptor/errorhandler.interceptor.js"></script>
    <script src="scripts/components/interceptor/notification.interceptor.js"></script>
    <script src="scripts/components/navbar/navbar.directive.js"></script>
    <script src="scripts/components/navbar/navbar.controller.js"></script>
    <script src="scripts/components/user/user.service.js"></script>
    <script src="scripts/components/util/truncate.filter.js"></script>
    <script src="scripts/components/util/base64.service.js"></script>
    <script src="scripts/components/alert/alert.service.js"></script>
    <script src="scripts/components/alert/alert.directive.js"></script>
    <script src="scripts/components/util/parse-links.service.js"></script>
    <script src="scripts/components/util/dateutil.service.js"></script>
    <script src="scripts/app/account/account.js"></script>
    <script src="scripts/app/account/activate/activate.js"></script>
    <script src="scripts/app/account/activate/activate.controller.js"></script>
    <script src="scripts/app/account/login/login.js"></script>
    <script src="scripts/app/account/login/login.controller.js"></script>
    <script src="scripts/app/account/logout/logout.js"></script>
    <script src="scripts/app/account/logout/logout.controller.js"></script>
    <script src="scripts/app/account/password/password.js"></script>
    <script src="scripts/app/account/password/password.controller.js"></script>
    <script src="scripts/app/account/password/password.directive.js"></script>
    <script src="scripts/app/account/register/register.js"></script>
    <script src="scripts/app/account/register/register.controller.js"></script>
    <script src="scripts/app/account/settings/settings.js"></script>
    <script src="scripts/app/account/settings/settings.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.js"></script>
    <script src="scripts/app/admin/admin.js"></script>
    <script src="scripts/app/admin/audits/audits.js"></script>
    <script src="scripts/app/admin/audits/audits.controller.js"></script>
    <script src="scripts/app/admin/configuration/configuration.js"></script>
    <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
    <script src="scripts/app/admin/docs/docs.js"></script>
    <script src="scripts/app/admin/health/health.js"></script>
    <script src="scripts/app/admin/health/health.controller.js"></script>
    <script src="scripts/app/admin/health/health.modal.controller.js"></script>
    <script src="scripts/app/admin/logs/logs.js"></script>
    <script src="scripts/app/admin/logs/logs.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.js"></script>
    <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="scripts/app/entities/entity.js"></script>
    <script src="scripts/app/error/error.js"></script>
    <script src="scripts/app/main/main.js"></script>
    <script src="scripts/app/main/main.controller.js"></script>
    <script src="bower_components/messageformat/locale/en.js"></script>
    <script src="bower_components/messageformat/locale/es.js"></script>
    <script src="bower_components/messageformat/locale/fr.js"></script>
    <script src="scripts/components/language/language.service.js"></script>
    <script src="scripts/components/language/language.controller.js"></script>
    <script src="scripts/components/auth/services/sessions.service.js"></script>
    <script src="scripts/components/auth/provider/auth.session.service.js"></script>
    <script src="scripts/app/account/sessions/sessions.js"></script>
    <script src="scripts/app/account/sessions/sessions.controller.js"></script>
        <script src="scripts/app/entities/plaza/plaza.js"></script>
        <script src="scripts/app/entities/plaza/plaza.controller.js"></script>
        <script src="scripts/app/entities/plaza/plaza-dialog.controller.js"></script>
        <script src="scripts/app/entities/plaza/plaza-detail.controller.js"></script>
        <script src="scripts/components/entities/plaza/plaza.service.js"></script>
        <script src="scripts/components/entities/plaza/plaza.search.service.js"></script>
        <script src="scripts/components/entities/plaza/plaza.searchByUser.service.js"></script>
        <script src="scripts/app/entities/pagoReferenciado/pagoReferenciado.js"></script>
        <script src="scripts/app/entities/pagoReferenciado/pagoReferenciado.controller.js"></script>
        <script src="scripts/app/entities/pagoReferenciado/pagoReferenciado-dialog.controller.js"></script>
        <script src="scripts/app/entities/pagoReferenciado/pagoReferenciado-detail.controller.js"></script>
        <script src="scripts/components/entities/pagoReferenciado/pagoReferenciado.service.js"></script>
        <script src="scripts/components/entities/pagoReferenciado/pagoReferenciado.search.service.js"></script>


        <script src="scripts/app/entities/nota/nota.js"></script>
        <script src="scripts/app/entities/nota/nota.controller.js"></script>
        <script src="scripts/app/entities/nota/nota-dialog.controller.js"></script>
        <script src="scripts/app/entities/nota/nota-detail.controller.js"></script>
        <script src="scripts/components/entities/nota/nota.service.js"></script>
        <script src="scripts/components/entities/nota/nota.search.service.js"></script>
        <script src="scripts/app/entities/municipio/municipio.js"></script>
        <script src="scripts/app/entities/municipio/municipio.controller.js"></script>
        <script src="scripts/app/entities/municipio/municipio-dialog.controller.js"></script>
        <script src="scripts/app/entities/municipio/municipio-detail.controller.js"></script>
        <script src="scripts/components/entities/municipio/municipio.service.js"></script>
        <script src="scripts/components/entities/municipio/municipio.search.service.js"></script>
        <script src="scripts/app/entities/movimiento/movimiento.js"></script>
        <script src="scripts/app/entities/movimiento/movimiento.controller.js"></script>
        <script src="scripts/app/entities/movimiento/movimiento-dialog.controller.js"></script>
        <script src="scripts/app/entities/movimiento/movimiento-detail.controller.js"></script>
        <script src="scripts/app/entities/movimiento/movimiento-print.controller.js"></script>
        <script src="scripts/components/entities/movimiento/movimiento.service.js"></script>
        <script src="scripts/components/entities/movimiento/movimiento.search.service.js"></script>
        <script src="scripts/app/entities/estado/estado.js"></script>
        <script src="scripts/app/entities/estado/estado.controller.js"></script>
        <script src="scripts/app/entities/estado/estado-dialog.controller.js"></script>
        <script src="scripts/app/entities/estado/estado-detail.controller.js"></script>
        <script src="scripts/components/entities/estado/estado.service.js"></script>
        <script src="scripts/components/entities/estado/estado.search.service.js"></script>
        <script src="scripts/app/entities/empresaDestinoPago/empresaDestinoPago.js"></script>
        <script src="scripts/app/entities/empresaDestinoPago/empresaDestinoPago.controller.js"></script>
        <script src="scripts/app/entities/empresaDestinoPago/empresaDestinoPago-dialog.controller.js"></script>
        <script src="scripts/app/entities/empresaDestinoPago/empresaDestinoPago-detail.controller.js"></script>
        <script src="scripts/components/entities/empresaDestinoPago/empresaDestinoPago.service.js"></script>
        <script src="scripts/components/entities/empresaDestinoPago/empresaDestinoPago.search.service.js"></script>
        <script src="scripts/app/entities/empresa/empresa.js"></script>
        <script src="scripts/app/entities/empresa/empresa.controller.js"></script>
        <script src="scripts/app/entities/empresa/empresa-dialog.controller.js"></script>
        <script src="scripts/app/entities/empresa/empresa-detail.controller.js"></script>
        <script src="scripts/components/entities/empresa/empresa.service.js"></script>
        <script src="scripts/components/entities/empresa/empresa.search.service.js"></script>
        <script src="scripts/app/entities/destinoPago/destinoPago.js"></script>
        <script src="scripts/app/entities/destinoPago/destinoPago.controller.js"></script>
        <script src="scripts/app/entities/destinoPago/destinoPago-dialog.controller.js"></script>
        <script src="scripts/app/entities/destinoPago/destinoPago-detail.controller.js"></script>
        <script src="scripts/components/entities/destinoPago/destinoPago.service.js"></script>
        <script src="scripts/components/entities/destinoPago/destinoPago.search.service.js"></script>
        <script src="scripts/app/entities/cuentaDestinoPago/cuentaDestinoPago.js"></script>
        <script src="scripts/app/entities/cuentaDestinoPago/cuentaDestinoPago.controller.js"></script>
        <script src="scripts/app/entities/cuentaDestinoPago/cuentaDestinoPago-dialog.controller.js"></script>
        <script src="scripts/app/entities/cuentaDestinoPago/cuentaDestinoPago-detail.controller.js"></script>
        <script src="scripts/components/entities/cuentaDestinoPago/cuentaDestinoPago.service.js"></script>
        <script src="scripts/components/entities/cuentaDestinoPago/cuentaDestinoPago.search.service.js"></script>
        <script src="scripts/app/entities/cuenta/cuenta.js"></script>
        <script src="scripts/app/entities/cuenta/cuenta.controller.js"></script>
        <script src="scripts/app/entities/cuenta/cuenta-dialog.controller.js"></script>
        <script src="scripts/app/entities/cuenta/cuenta-detail.controller.js"></script>
        <script src="scripts/components/entities/cuenta/cuenta.service.js"></script>
        <script src="scripts/components/entities/cuenta/cuenta.search.service.js"></script>
        <script src="scripts/app/entities/cliente/cliente.js"></script>
        <script src="scripts/app/entities/cliente/cliente.controller.js"></script>
        <script src="scripts/app/entities/cliente/cliente-dialog.controller.js"></script>
        <script src="scripts/app/entities/cliente/cliente-detail.controller.js"></script>
        <script src="scripts/components/entities/cliente/cliente.service.js"></script>
        <script src="scripts/components/entities/cliente/cliente.search.service.js"></script>
        <script src="scripts/app/entities/caja/caja.js"></script>
        <script src="scripts/app/entities/caja/caja.controller.js"></script>
        <script src="scripts/app/entities/caja/caja-dialog.controller.js"></script>
        <script src="scripts/app/entities/caja/caja-detail.controller.js"></script>
        <script src="scripts/components/entities/caja/caja.service.js"></script>
        <script src="scripts/components/entities/caja/caja.search.service.js"></script>
        <script src="scripts/app/entities/documento/documento.js"></script>
        <script src="scripts/app/entities/documento/documento.controller.js"></script>
        <script src="scripts/app/entities/documento/documento-dialog.controller.js"></script>
        <script src="scripts/app/entities/documento/documento-detail.controller.js"></script>
        <script src="scripts/components/entities/documento/documento.service.js"></script>
        <script src="scripts/components/entities/documento/documento.search.service.js"></script>
        <script src="scripts/app/entities/secuenciaCliente/secuenciaCliente.js"></script>
        <script src="scripts/app/entities/secuenciaCliente/secuenciaCliente.controller.js"></script>
        <script src="scripts/app/entities/secuenciaCliente/secuenciaCliente-dialog.controller.js"></script>
        <script src="scripts/app/entities/secuenciaCliente/secuenciaCliente-detail.controller.js"></script>
        <script src="scripts/components/entities/secuenciaCliente/secuenciaCliente.service.js"></script>
        <script src="scripts/components/entities/secuenciaCliente/secuenciaCliente.search.service.js"></script>
        <script src="scripts/app/entities/secuenciaCuenta/secuenciaCuenta.js"></script>
        <script src="scripts/app/entities/secuenciaCuenta/secuenciaCuenta.controller.js"></script>
        <script src="scripts/app/entities/secuenciaCuenta/secuenciaCuenta-dialog.controller.js"></script>
        <script src="scripts/app/entities/secuenciaCuenta/secuenciaCuenta-detail.controller.js"></script>
        <script src="scripts/components/entities/secuenciaCuenta/secuenciaCuenta.service.js"></script>
        <script src="scripts/components/entities/secuenciaCuenta/secuenciaCuenta.search.service.js"></script>
        <script src="scripts/app/entities/conceptoMovimiento/conceptoMovimiento.js"></script>
        <script src="scripts/app/entities/conceptoMovimiento/conceptoMovimiento.controller.js"></script>
        <script src="scripts/app/entities/conceptoMovimiento/conceptoMovimiento-dialog.controller.js"></script>
        <script src="scripts/app/entities/conceptoMovimiento/conceptoMovimiento-detail.controller.js"></script>
        <script src="scripts/components/entities/conceptoMovimiento/conceptoMovimiento.service.js"></script>
        <script src="scripts/components/entities/conceptoMovimiento/conceptoMovimiento.search.service.js"></script>
        <script src="scripts/app/entities/foliadorReciboPago/foliadorReciboPago.js"></script>
        <script src="scripts/app/entities/foliadorReciboPago/foliadorReciboPago.controller.js"></script>
        <script src="scripts/app/entities/foliadorReciboPago/foliadorReciboPago-dialog.controller.js"></script>
        <script src="scripts/app/entities/foliadorReciboPago/foliadorReciboPago-detail.controller.js"></script>
        <script src="scripts/components/entities/foliadorReciboPago/foliadorReciboPago.service.js"></script>
        <script src="scripts/components/entities/foliadorReciboPago/foliadorReciboPago.search.service.js"></script>
        <script src="scripts/app/entities/fileLoader/fileLoader.js"></script>
        <script src="scripts/app/entities/fileLoader/fileLoader.controller.js"></script>
        <script src="scripts/app/entities/fileLoader/fileLoader-dialog.controller.js"></script>
        <script src="scripts/app/entities/fileLoader/fileLoader-detail.controller.js"></script>
        <script src="scripts/components/entities/fileLoader/fileLoader.service.js"></script>
        <script src="scripts/components/entities/fileLoader/fileLoader.search.service.js"></script>
        <script src="scripts/app/entities/cargaInicial/cargaInicial.js"></script>
        <script src="scripts/app/entities/cargaInicial/cargaInicial.controller.js"></script>
        <script src="scripts/app/entities/cargaInicial/cargaInicial-dialog.controller.js"></script>
        <script src="scripts/app/entities/cargaInicial/cargaInicial-detail.controller.js"></script>
        <script src="scripts/components/entities/cargaInicial/cargaInicial.service.js"></script>
        <script src="scripts/components/entities/cargaInicial/cargaInicial.search.service.js"></script>
        <script src="scripts/app/entities/cxcSecuencia/cxcSecuencia.js"></script>
        <script src="scripts/app/entities/cxcSecuencia/cxcSecuencia.controller.js"></script>
        <script src="scripts/app/entities/cxcSecuencia/cxcSecuencia-dialog.controller.js"></script>
        <script src="scripts/app/entities/cxcSecuencia/cxcSecuencia-detail.controller.js"></script>
        <script src="scripts/components/entities/cxcSecuencia/cxcSecuencia.service.js"></script>
        <script src="scripts/components/entities/cxcSecuencia/cxcSecuencia.search.service.js"></script>
        <!-- endbuild -->
</body>
</html>
