
<div>
    <h2><span translate="cxcApp.plaza.detail.title">Plaza</span> {{plaza.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="cxcApp.plaza.nombre">Nombre</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{plaza.nombre}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.plaza.direccion">Direccion</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{plaza.direccion}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.plaza.codigoPostal">CodigoPostal</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{plaza.codigoPostal}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.plaza.ciudad">Ciudad</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{plaza.ciudad}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.plaza.municipio">Municipio</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{plaza.municipio}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.plaza.estado">Estado</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{plaza.estado}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cxcApp.plaza.region">Region</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{plaza.region}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="plaza"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
