
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPlazaLabel" translate="cxcApp.plaza.home.createOrEditLabel">Create or edit a Plaza</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="plaza.id" readonly>
        </div>

        <div class="form-group">
            <label translate="cxcApp.plaza.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="plaza.nombre" required>

            <div ng-show="editForm.nombre.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="cxcApp.plaza.direccion" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                    ng-model="plaza.direccion">

        </div>
        <div class="form-group">
            <label translate="cxcApp.plaza.codigoPostal" for="field_codigoPostal">CodigoPostal</label>
            <input type="text" class="form-control" name="codigoPostal" id="field_codigoPostal"
                    ng-model="plaza.codigoPostal">

        </div>
        <div class="form-group">
            <label translate="cxcApp.plaza.ciudad" for="field_ciudad">Ciudad</label>
            <input type="text" class="form-control" name="ciudad" id="field_ciudad"
                    ng-model="plaza.ciudad">

        </div>
        <div class="form-group">
            <label translate="cxcApp.plaza.municipio" for="field_municipio">Municipio</label>
            <input type="text" class="form-control" name="municipio" id="field_municipio"
                    ng-model="plaza.municipio">

        </div>
        <div class="form-group">
            <label translate="cxcApp.plaza.estado" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                    ng-model="plaza.estado">

        </div>
        <div class="form-group">
            <label translate="cxcApp.plaza.region" for="field_region">Region</label>
            <select class="form-control" name="region" ng-model="plaza.region" id="field_region">
               <option value="PACIFICO">PACIFICO</option>
               <option value="NORTE">NORTE</option>
               <option value="CENTRO_SUR">CENTRO_SUR</option>
            </select>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
